<!DOCTYPE html>
<html>

	<head>
    <title>Pard</title>
 		<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCimmihWSDJV09dkGVYeD60faKAebhYJXg&libraries=places"
    async defer></script>
	</head>

	<body>
		<!-- <section id="section_layout"> -->
    <%= javascript_tag 'jquery' %>
    <%= javascript_tag 'ours' %>
    <%= stylesheet_tag 'ours' %>
	  <%= yield %>
    <!-- </section> -->
	
<!-- 	<script>
      $(window).load(function() {
         $(document).foundation();
      }); 
  </script>
 -->


	</body>

</html>

