<!DOCTYPE html>
<html>
<head>
    <title>Pard</title>
    <%= stylesheet_tag 'ours' %>
</head>
<body>
  <div class="project_container"></div>
  <%= javascript_tag 'jquery' %>
  <%= javascript_tag 'ours' %>
  <%= yield %>
</body>
</html>
