<!DOCTYPE html>
<html>
<head>
    <title>Pard</title>
    <%= javascript_tag 'jquery' %>
  	<%= javascript_tag 'ours' %>
  	<%= stylesheet_tag 'ours' %>	
</head>
<body>
	<section id="section_layout">
   <%= yield %>
	</section id="footer_layout">
</body>
</html>
	