<!DOCTYPE html>
<html>

	<head>
    <title>Pard</title>
 		<meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<!-- <section id="section_layout"> -->
    <%= javascript_tag 'jquery' %>
    <%= javascript_tag 'ours' %>
    <%= stylesheet_tag 'ours' %>
	  <%= yield %>
		<!-- </section> -->
	
	<script>
      $(document).ready(function() {
        $(document).foundation();
      	}); 
  </script>


	</body>

</html>

