<!DOCTYPE html>
<html>

	<head>
    <title>Pard</title>
	</head>

	<body>
		<header id="header_layout">
		</header>
		<section id="section_layout">
    <%= javascript_tag 'jquery' %>
    <%= javascript_tag 'ours' %>
    <%= stylesheet_tag 'ours' %>
	   <%= yield %>
		</section>
		<footer id_"header_layout">
		</footer>
	</body>

</html>

