<!DOCTYPE html>
<html>

	<head>
    <title>Pard</title>
	</head>

	<body>
		<!-- <section id="section_layout"> -->
    <%= javascript_tag 'jquery' %>
    <%= javascript_tag 'ours' %>
    <%= stylesheet_tag 'ours' %>
	  <%= yield %>
		<!-- </section> -->
	
	<script>
      $(document).ready(function() {
        $(document).foundation();
      }); 
  </script>


	</body>

</html>

