/*===============================================
LOGIN PAGE
================================================*/

.main-welcome-page{
  background: $grey-1;
}


.welcome-page-section{
  background:white; 
}

.register-form-final-mex{
  font-size: $almostNormalSize;
  margin-top: 2rem;
  p {
    font-size: 1rem;
  }
}

.register-form-init-mex{
  font-size: $almostNormalSize;
  margin-bottom: 2rem;
  p {
    font-size: 1rem;
  }
}

.welcome-img-section-header {
  background-image: url(<%= image_path 'logo_conFusion.png' %>);
  width: 100%;
  @include breakpoint(large){ height: 13.75rem; }
  @include breakpoint(medium down){ height: 22vw;}
  @include breakpoint(small down){ height: 30vw;}
  background-repeat: no-repeat;
  background-size: 95% 95%;

}

.logo-header{
  cursor: pointer;
  background-image: url(<%= image_path 'orfheologocolor.png' %>);
  width: 110px;
  height: 37px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include breakpoint(small down){ 
    width: 66px;
    height: 22px;
    margin-top:0.3rem;
    margin-bottom:0.7rem;
  }
}

.inside-header-logo{
  @include breakpoint(large){ 
    margin-top:0.5rem;
  }
}



/*------------------
Header
-------------------*/

/*FOR MEDIUM AND SMALL: TRANSITION WHEN SCREEN <= 1024px*/

@media only screen and #{breakpoint(small down)} { 
  .block-for-medium {
    display: block;
    width: 100%;
    padding-left: 0.5rem;
  }
  .login-bar, .user-bar{
    width: 100%;
    background: $content-background;
  }
  .menu-icon-header{
    margin-left:0.5rem;
  }
}

/*LARGE*/


@media only screen and #{breakpoint(medium)} {
  .login-bar{
    @extend .pard-bar;
    min-height: 5rem;
    padding-top: 0.7rem; 
  }
  .user-bar{
    @extend .pard-bar;
    min-height: 4.5rem;
    padding-top: auto; 
  }
  .login-bar, .user-bar{
  border-bottom: 2px solid $grey-1;
   // box-shadow: 0 1px 2px rgba($grey-2, 0.5);
   box-shadow: 0 0 2px #f6f6f6;
}


}

/*GENERAL*/




.input-login {
 @include breakpoint(small down){
    display: block;
    float: right; 
    padding-top: 0.5rem;
    .input-login-field {
      margin-bottom: 0.1rem;
    }
  }
  @include breakpoint(medium){
    .input-login-field {
      display:inline-block;
      margin-right:0.4rem;
    }
  }
  @include breakpoint(large){
    margin-right:-0.75rem;
  }  
  .input-login-field{
    height: auto;
    font-size: $smallSize;
    width: 180px;
    padding: 0.3rem
  }
}

.dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
    top: 100%;
    left: auto;
    right: 0;
}


.rememberMe-ckb input{
  width:auto;
  margin-right:0;
  margin-top: 0.2rem;
}

.rememberMe-ckb{
  @include breakpoint(small down){
    float: right;
  }
}

.passwdRecovery{
  @include breakpoint(small down){
    display: block;
    margin-top: 0.2rem;
  }
}

.rememberMe-ckb {
  @include breakpoint(medium){
    width: 10rem;
    display: block;
    margin-left: 0.1rem;
  }
}

.passwdRecovery, .rememberMe-ckb label{
   font-size: $smallSize;
}

.passwdRecovery{
  @include breakpoint(medium){
    float: right;
    margin-top: -1.3rem;
    margin-right: 5rem;
  } 
}



/*-----------------------
Aside content LogIn page
-------------------------*/


.info{
  width: 100%;
  background: $content-background;
  @include border-radius($layout-border-radius);
}

.info p{
  font-size: $almostNormalSize;
  margin-bottom: 0;
}

.aside-container{
  width: $pard-aside-width;
  position:relative;
  word-wrap: break-word;
}

.grid-aside-content{
  padding: $inner-spacing;
}


/*------------------------------
grid-section content LogIn page
--------------------------------*/

.lateral-content-padding{
  padding: 0 $inner-spacing; 
}


.ui-widget{
  display: inline-block;
  width: 14.5rem
}

.display-inline{
  display: inline-block; 
}

.search-engine-container{
  position: relative;
}

.search-tool-container{
  margin-top: 1rem;
}

// .box-content input{
//   @include horizontal-center;
//   position: relative;
//   max-width: 596px;
// }

.searchEngine-text-welcome-page{
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.search-results{
   @include breakpoint(small down){
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  @include breakpoint(medium){
    padding-left:2.8rem;
  }
  @include breakpoint(large){
    padding-left:2.8rem;
    padding-right:2.8rem;
  }
  margin-top: 2.5rem;
}



/*===============================================
USER PAGE
================================================*/

/*------------------
Header
-------------------*/

//GENERAL


.right-user-header-content{
  display: inline-block;
  position: absolute;
  @include breakpoint(large){
    margin-right: -1.5rem;
  }
  right:0;
}

.left-user-header-content{
  left:0;
  display: inline-block;
  position: absolute;
  @include breakpoint(large){
    margin-left:-0.5rem;
  }
  cursor: pointer;
  @include breakpoint(small down){
    margin-left: 0.5rem;
  }

}

.top-header-content{
  display: block;
  width: 100%;
  @include breakpoint(medium){
    min-height: 3.5rem;
  }
  @include breakpoint(small down){
    min-height: 2.3rem;
  }
}

.settings-icon-dropdown-menu{
  color: black;
}

.settings-icon-dropdown-menu:hover{
  color: rgba(0,0,0,0.8);
}

/*-----------------------
Aside content User page
-------------------------*/



.create-profile-container {
  display: block;
  position: relative;
  width: 100%;
}

.create-profile-text, .myProfile-text{
  text-transform: uppercase;
  padding: 0 $inner-spacing;
  margin-bottom: 0.5rem;
}

.create-profile-text{
  margin-top: 0.75rem;
}

.myProfile-text{
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}


.myprofile-card-position{
  margin-top: $pard-grid-spacing;
  background-color: $content-background;
}

/*------------
User Section
--------------*/

.user-section-content{
  padding: 1.5rem;
}


.grid-section-contentTitle{
  display: block;
  position: relative;
  margin-bottom:2.2rem;
  margin-top: 1rem;
  text-align: center;
} 


/*===============================================
PROFILE PAGE
================================================*/

/*--------
Aside
---------*/
.toUserPage-btn-container{
  margin-bottom:$pard-grid-spacing;
}

.profile-nav-container{
  @include border-radius($layout-border-radius);
  display: block;
  background: $content-background;
  margin-top: $pard-grid-spacing;
  padding: 0.2rem;
}


.name-column, .icon-column{
  display: inline-block;
  vertical-align: middle; 
}

.name-column{
  padding: 0rem 0.2rem 0rem 0.2rem;
  width: 8.2rem;
  // font-size: $smallSize;
}


.name-column-production-nav{
  min-height: 2.7px;
}

.icon-column{
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
  width:2.7rem;
}

.production-nav-element-container .icon-column{
  height: 2.7rem;
}

.production-icon-container{
  margin-top: 0.1rem;  
}

.production-icon-container .fa-cubes{
    padding-top: 0.3rem;  
}

.other-profiles-nav-container{
  display: block;  
  margin-top: $pard-grid-spacing;
  background: $content-background;
  @include border-radius($layout-border-radius); 
  padding: 0.2rem;
}

.verticalAlign{
  @include vertical-align();
}

// .production-icon-container{
//   // height:2.2rem;
// }

.profile-selected-container{
  background: $grey-1;
  padding: 0.4rem 0.1rem;
  position: relative;
  width: 100%;
  cursor: pointer;
  min-height: 3.75rem;
  display: block;
}

.profile-nav-circle-selected{
  @include pardCircle(2.2rem);
  position:relative;
}

.profile-nav-circle{
  @include pardCircle(2.2rem);
  position:relative;
}


.profile-nav-element-icon{
  @include absolute-center;
  font-size: 1.7rem;
}

.profile-nav-name-selected, .profile-nav-name-element, .profile-nav-production-name{
  line-height: 1.3rem;
  font-size: $smallSize;
  margin-bottom: 0;
  cursor: pointer;
}

// .profile-nav-production-name


.nav-list-container{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.nav-icon-production-container{
  // height: 2.2rem;
  width: 2.2rem;
}

.profile-nav-element-container, .production-nav-element-container{
  padding: 0.2rem 0.1rem;
  position: relative;
  width: 100%;
  display: block;
}

.production-nav-element-container{
  min-height: 2.7rem;
}


.profile-nav-element-container{
  cursor: pointer;
  position: relative;
  width: 100%;
  padding-top: 0.4rem;
    min-height: 3.75rem;
}

.profile-nav-element-container:hover{
  background: $grey-1;
}


// .text-link{
//   text-decoration: underline;
// }

.text-link-profile-nav{
  font-weight: bold;
}



.selected-element{
  // text-decoration: underline;
  font-weight: bold;
}



.message-otherProfile-asideBar, .message-productions-asideBar{
  text-transform: uppercase;
  font-size: $almostNormalSize;
  padding:0.2rem;
  margin-bottom: 0;
  line-height: 1.2rem;

}

.message-otherProfile-asideBar{
  margin-top:0.2rem;
}

/*-----------------
Profile Section
-------------------*/

.section-profilePhoto-container{
  width:100%;
  max-height: 13.75rem;
}



.section-profilePhoto-container-noPhoto{
  width:100%;
  @include breakpoint(large){ height: 13.75rem; }
  @include breakpoint(medium down){ height: 22vw;}
  @include breakpoint(small down){ height: 30vw;}

}

.title-profile-section-container{
  width:100%;
  @include breakpoint(medium){min-height: 3.5rem};
  @include breakpoint(small down){ min-height: 2.5rem;}
  background-color:$grey-1;
  padding-left:$inner-spacing;
  padding-right:$inner-spacing;
  padding-top:0.4rem;
  position:relative;
  margin-top:-0.2rem;
}

.text-title-profile-section{
  @include breakpoint(medium){font-size: 1.875rem;}
  @include breakpoint(small down){ font-size: 1.3rem;}
  font-weight: bold;
}

.section-box-container{
  border: 1px solid $grey-2;
  @include border-radius($element-border-radius);
  margin-top: $inner-spacing;
  position: relative;
}

.title-box-container{
  min-height: 3rem;
  background: $grey-1;
  font-size: 18px;
  font-weight: bold;
  padding: 0.6rem $inner-spacing;
}

.title-box-container .fa-bullhorn{
  font-size: 1.2rem;
  vertical-align: 0.2rem;
}

.box-content{
  padding: $inner-spacing;
  position: relative;
  font-size: $almostNormalSize;
}

.info-icon-title-box {
  font-size: 1.2rem;
  // vertical-align: -0.2rem;
}

.information-bio, .information-contact{
  @include breakpoint(large){
    display: inline-block;
    vertical-align: top;
  }
}

.information-bio{
  @include breakpoint(large){
    width: 60%;
    padding: 0 $inner-spacing 0 0;
  }
  p{
    font-size: $almostNormalSize;
  }
}

.information-contact{
  @include breakpoint(large){
    width: 40%;
     padding: 0 0 0 $inner-spacing;
  }
}

.information-contact-icon-column, .information-contact-text-column{
  display: inline-block;
  vertical-align: top; 
}

.information-contact-text-column{
  @include breakpoint(large){
    width: -moz-calc(100% - 2.8rem);
    width: -webkit-calc(100% - 2.8rem);
    width: calc(100% - 2.8rem);
    // width: 14.2rem
  };
  line-height: 1.3rem;
  vertical-align: -0.2rem;
  font-size: $almostNormalSize;
  margin-bottom: 0.5rem;
}

.information-contact-icon-column{
  width: 2.8rem;
  color: $grey-3;
}

.icon-in-box{
  margin-right: $inner-spacing;
  vertical-align: -0.2rem;
}

.type-icon-info-box{
  color: $grey-3;
  font-size: 1.8rem;
}

.type-text-info-box{
 vertical-align: -0.4rem;
}

.mySocials-icon-info-box{
  font-size: 2rem;
}

.social-icon-fa{
  font-size: 1.3rem;
  margin-right: $inner-spacing;
  vertical-align: -0.2rem;
}

.activities-box-call-name{
  margin-bottom: 0rem;
}


.myProposals-field-label{
  font-size: $almostNormalSize;
  display: inline-block;
}

// .myProposals-field-text{
//   font-size: $almostNormalSize;
//   display: block;
// }





.postData-container{
  position: relative;
  margin-bottom: 3rem;
  margin-top:2rem;

}

.postData-container textarea{
  margin-top: -0.5rem;
  font-size: $almostNormalSize;
}

.myproposal-final-message{
  margin-bottom: 3rem;
}

// .avilability-info-text{
//   margin-bottom: 0.5rem;
// }

/*-----------------
Production Section
-------------------*/

.short-description-text{
  font-weight: bold;
}


.production-title-box{
  width: 100%;
  background-color: $grey-1;
  min-height: 1.5rem;
  @include breakpoint (medium) {margin-top: -0.5rem};
  padding: 0 $inner-spacing;
  position: relative;
}

.multimedia-icon-title-box{
  font-size: 1.4rem;
}

.video-production-container{
  position: relative;
  width: 100%;
  padding: 0 $inner-spacing;
  margin-bottom:1rem;
}

.multimedia-container .video-production-container iframe{
  // height: 25.5rem;;
  // width: 718px;
  width: 100%;
  height: 25.5rem;
  display:block;
  position: relative;
  @include breakpoint (small down){
    height: -moz-calc(100vw * 0.57);
    height: -webkit-calc(100vw * 0.57);
    height: calc(100vw * 0.57);
  }
  // margin-left: 3.2rem;
}


.video-title-box{
  border-bottom: 1px solid $grey-2;
  padding-top:0.8rem;
  padding-bottom:0.8rem; 
  width: 100%;
  margin-top: 2rem;
}

.video-production-container .fb-post iframe, .video-production-container .fb-post span{
  max-height: 25.5rem;
}  


.noembed-meta-info{
  display: none;
}


.single-video-container{
  position:relative;
  display: block;
  margin-top: 2rem;
  }

.single-image-container {
  position:relative;
  width: 22.7rem;
  margin: 0 auto;
}



.single-image-content{
  width: 350px;
  position: relative;
  display: inline-block;  
  margin:0 auto;
  margin-top: 2rem;
} 

.multimedia-container{
  padding-bottom: 2rem;
  word-wrap: break-word;
}

.single-image-container .noembed-wrapper {
  max-width: 350px;
  padding: 8px;
  border: 1px solid $grey-2;
}

.image-audio-title{
  padding:$inner-spacing;
}

.images-title-box{
  border-bottom: 1px solid $grey-2;
  // padding-top:1.5rem;
  padding-bottom:0.6rem; 
  width: 96%;
}


.images-title-box h6, .video-title-box h6{
  text-align: center;
  margin-bottom:0;
}

.video-production-container, .image-production-container{
  position:relative;
  width: 100%;
  display: block;
  // padding: 0.5rem;
}

.image-production-container{
  @include breakpoint(large){  
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;}
  padding: 0 $inner-spacing;
  margin-bottom: 0.5rem;
}

.single-image-content span{
  overflow: inherit;
}

.single-image-content .Embed{
  width: 326px;
}

.single-image-content .instagram-media{
  width: 100%;
}

.flickr-embed-image-iframe{
  width: 100%;
  height: auto;
  border: none;
}

.multimedia-manager-message ul{
  margin-bottom: 0.4rem;
}

.multimedia-manager-message p{
  margin-bottom: 0.3rem;
}

.multimedia-manager-input-label{
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

.multimedia-accepted-sublist{
  margin-bottom:0.5rem;

}

.multimedia-accepted-sublist li{
  font-size: $almostNormalSize;
}

// .multimedia-accepted-list li{
//   margin-top:0.5rem;
// }

.cloudinary_fileupload{
  margin-bottom: 1.5rem;
}

.file-upload-thumbnail{
  margin-bottom: 0.7rem;
}

// .bandcamp-audioPlayer{
// border: 0;
// width: 100%; 
// height: 120px;
// }

#inline_player.inline_player{
  max-width: 100%;
}

.single-image-content iframe{
  max-width: 100%;
  min-width: 100%;
 }


/*------------
SMALL!!!
-------------*/

@media only screen and (max-width : 400px) {
 .single-image-container {
  max-width: 100%;
 }
 .single-image-content{
  max-width: 100%;
 }
 .images-title-box{
  width: 100%;
 }
 .large-bandcamp-audio-player iframe[style]{
    width: 100%;
    max-height: -moz-calc(98vw*1.35);
    max-height: -webkit-calc(98vw*1.35);
    max-height: calc(98vw*1.35); 
 }
}



/*===============================================
OUTSIDER PAGE
================================================*/

@media only screen and #{breakpoint(medium)} {

  .outsider-header{
    position:fixed;
    padding-right:0.9rem;
  }

  .outsider-main{
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

}



/*===============================================
CALL PAGE
================================================*/


.main-call-page{
  background: $grey-1;
  min-height: 100%;
}

.call-section{
  background: white;
  padding: $inner-spacing;
}

.checkBox-call-manager{
  display: inline-block;
  width: 25%;
}

.table-proposal {
  font-size: 12px;
  }

.table-proposal .title-row-table-proposal {
  font-size: 14px;
  font-weight: bold;
}

#table-box-proposal-manager{
  overflow: auto;
  max-height: 95vh;
  margin-top: 2rem;
  border: 1px solid $grey-3;
}

.types-selector-call-manager{
  margin-bottom: 2rem;
  // margin-top: 2rem;
}

.title-colText-call-manager{
  cursor: pointer;
}

.icon-column-call-table{
  width: 2rem;
}

.tab-selected{
  background: $grey-1;
}

.menu.simple.tabs-menu li{
  margin-right:0;
}

.tabs-menu li{
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.tabs-menu{
  margin-top: 2rem;
  margin-bottom : 2rem;
}

.success-icon-check-call-manager{
  color: $green-pard;
  font-size: 2.5rem;
  vertical-align: middle;
}

.success-check-call-manager{
  color: $green-pard;
  display: inline-block;
}