/*===============================================
WELCOME PAGE
================================================*/

.main-welcome-page{
  background: $grey-1;
}


.welcome-page-section{
  background:$grey-1; 
}


/* .container-title-welcome-page{
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: $grey-4;
} */

.aside-text-welcome-page-container{
  color: $grey-4;
  margin-top: $pard-grid-spacing;
}

.news-date{
  float: right;
  font-size: $almostNormalSize;
}

.info-title-news-welcome, .info-title-news-user{
  margin-bottom: 1rem;
  font-weight: bold;
}


/* 
.info-title-news-user{
  margin-top: 1rem;
  display: inline-block;
}
 */
.news-date-container{
  height: 1.5rem;
}

.news-box-welcome-page, .searchBox-welcome-page{
  background:white; 
  width: 100%;
}

.news-box-welcome-page{
  margin-bottom: $inner-spacing;
  padding: 1.5rem;
  font-size: 18px;
  @include breakpoint (medium){
    margin-bottom: $pard-grid-spacing;
  }
  
}

.card-container-news{
  float: left;
  margin-right: 2rem;
  /* display: inline-block; */
/*   @include breakpoint(small down) {
    display: none;
  } */
}

.search-titleBox-welcome-page{
  padding: $inner-spacing $inner-spacing 0 $inner-spacing;
}

.info-box-news-welcome-page{

 min-height: 14.3rem  ;
}

.register-form-final-mex{
  font-size: $almostNormalSize;
  margin-top: 2rem;
  p {
    font-size: 1rem;
  }
}

.register-form-init-mex{
  font-size: $almostNormalSize;
  margin-bottom: 2rem;
  p {
    font-size: 1rem;
  }
}


.inside-header-logo{
  @include breakpoint(large){ 
    margin-top:0.5rem;
  }
}



/*------------------
Header
-------------------*/

/*FOR MEDIUM AND SMALL: TRANSITION WHEN SCREEN <= 1024px*/

@media only screen and #{breakpoint(small down)} { 
  .block-for-medium {
    display: block;
    width: 100%;
    padding-left: 0.5rem;
  }
  .login-bar, .user-bar{
    width: 100%;
    background: $content-background;
  }
  .menu-icon-header{
    margin-left:0.5rem;
  }
}

/*LARGE*/


@media only screen and #{breakpoint(medium)} {
  .login-bar{
    @extend .pard-bar;
    min-height: 5rem;
    padding-top: 0.7rem; 
  }
  .user-bar{
    @extend .pard-bar;
    min-height: 4.5rem;
    padding-top: auto; 
  }
  .login-bar, .user-bar{
  border-bottom: 2px solid $grey-1;
   box-shadow: 0 0 2px #f6f6f6;
  }
}

/*GENERAL*/




.input-login {
 @include breakpoint(small down){
    display: block;
    float: right; 
    padding-top: 0.5rem;
    .input-login-field {
      margin-bottom: 0.1rem;
    }
  }
  @include breakpoint(medium){
    .input-login-field {
      display:inline-block;
      margin-right:0.4rem;
    }
  }
  @include breakpoint(large){
    margin-right:-0.75rem;
  }  
  .input-login-field{
    height: auto;
    font-size: $smallSize;
    width: 180px;
    padding: 0.3rem
  }
}

.dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
    top: 100%;
    left: auto;
    right: 0;
}


.rememberMe-ckb input{
  width:auto;
  margin-right:0;
  margin-top: 0.2rem;
}

.rememberMe-ckb{
  @include breakpoint(small down){
    float: right;
  }
}

.passwdRecovery{
  @include breakpoint(small down){
    display: block;
    margin-top: 0.2rem;
    white-space: nowrap;
  }
}

.rememberMe-ckb {
  @include breakpoint(medium){
    width: 10rem;
    display: block;
    margin-left: 0.1rem;
  }
}

.passwdRecovery, .rememberMe-ckb label{
   font-size: $smallSize;
}

.passwdRecovery{
  @include breakpoint(medium){
    float: right;
    margin-top: -1.3rem;
    margin-right: 5rem;
  } 
}



/*-----------------------
Aside content LogIn page
-------------------------*/


.info{
  width: 100%;
  background: $content-background;
  @include border-radius($layout-border-radius);
}

.info p{
  font-size: $almostNormalSize;
  margin-bottom: 0;
}

.aside-container{
  width: $pard-aside-width;
  position:relative;
  word-wrap: break-word;
}

.grid-aside-content{
  padding: $inner-spacing;
}

.login-aside-container{
  @include breakpoint(large){ 
    position: fixed;
  }
  @include breakpoint(medium down){ 
    padding: $inner-spacing;
  }
}


/*------------------------------
grid-section content LogIn page
--------------------------------*/

.lateral-content-padding{
  padding: 0 $inner-spacing; 
}


/* .ui-widget{
  display: inline-block;
  width: 14.5rem
} */

.display-inline{
  display: inline-block; 
}

.search-engine-container{
  position: relative;
}

.search-tool-container{
  margin-top: 1rem;
}

/* 
.searchEngine-text-welcome-page{
  margin-bottom: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
 */

.search-results{
   @include breakpoint(small down){
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  @include breakpoint(medium){
    padding-left:2.8rem;
  }
  @include breakpoint(large){
    padding-left:2.8rem;
    padding-right:2.8rem;
  }
  margin-top: 2.5rem;
  min-height: 80vh;
}

.suggested-tag-search-engine{
  cursor: pointer;
  /* color: $grey-4; */
  background: $grey-2;
  border: 1px solid $grey-3;
  font-weight: normal;
  margin-right: $pard-grid-spacing;
  display: inline-block;
  font-size: $almostNormalSize;
  padding: 0px 5px;
  height: 1.5rem;
  margin-bottom: 0.2rem;
  @include border-radius(4px);

}

.search-tag-icon{
  font-size: 1rem;
  vertical-align: -3px;
  margin-right: 2px;
}

.suggested-tag-search-engine:hover{
  background: $grey-4;
  color: white;
}

.search-tag-box{
  text-align: center;
  margin-top: $inner-spacing;
}



/*===============================================
USER PAGE
================================================*/

/*------------------
Header
-------------------*/

/* GENERAL*/

.right-user-header-content{
  display: inline-block;
  position: absolute;
  @include breakpoint(large){
    margin-right: -1.5rem;
  }
  right:0;
}

.left-user-header-content{
  left:0;
  display: inline-block;
  position: absolute;
  @include breakpoint(large){
    margin-left:-0.5rem;
  }
  cursor: pointer;
  @include breakpoint(small down){
    margin-left: 0.5rem;
  }

}

.top-header-content{
  display: block;
  width: 100%;
  @include breakpoint(medium){
    min-height: 3.5rem;
  }
  @include breakpoint(small down){
    min-height: 2.3rem;
  }
}

.settings-icon-dropdown-menu{
  color: black;
}

.settings-icon-dropdown-menu:hover{
  color: rgba(0,0,0,0.8);
}

/*-----------------------
Aside content User page
-------------------------*/



.create-profile-container {
  display: block;
  position: relative;
  width: 100%;
}

.aside-user-nav-btn {
  cursor: pointer;
  width: 100%;  
  padding: 0.4rem $inner-spacing; 
  border-left: 4px solid transparent;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}


.aside-user-nav-btn:hover{
  border-left: 3px solid #000000;
  background: $grey-2;
  font-weight: bold;

}

.aside-user-nav-btn-selected {
  border-left: 3px solid #000000;
  background: $grey-2;
  font-weight: bold;
  /* color: white; */
}

/* .create-profile-text, .myProfile-text{
  text-transform: uppercase;
  padding: 0 $inner-spacing;
  margin-bottom: 0.5rem;
} */

/* 

.create-profile-text{
  margin-top: 0.75rem;
} */

/* .myProfile-text{
  margin-top: 1rem;
  margin-bottom: -0.5rem;
} */


/* .myprofile-card-position{
  margin-top: $pard-grid-spacing;
  background-color: $content-background;
} */



/*------------
User Section
--------------*/

.profiles-user-section-content{
  padding: 1.5rem;
  background: white;
}


.grid-section-contentTitle{
  display: block;
  position: relative;
  margin-bottom:2.2rem;
  margin-top: 1rem;
  text-align: center;
} 


/*===============================================
PROFILE PAGE
================================================*/

/*--------
Aside
---------*/
.toUserPage-btn-container{
  margin-bottom:$pard-grid-spacing;
}

.profile-nav-container{
  @include border-radius($layout-border-radius);
  display: block;
  background: $content-background;
  margin-top: $pard-grid-spacing;
  padding: 0.2rem;
}


.name-column, .icon-column{
  display: inline-block;
  vertical-align: middle; 
}

.name-column{
  padding: 0rem 0.2rem 0rem 0.2rem;
  width: 8.2rem;
}


.name-column-production-nav{
  min-height: 2.7px;
}

.icon-column{
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
  width:2.7rem;
}

.production-nav-element-container .icon-column{
  height: 2.7rem;
}

.production-icon-container{
  margin-top: 0.1rem;  
}

.production-icon-container .fa-cubes{
    padding-top: 0.3rem;  
}

.other-profiles-nav-container{
  display: block;  
  margin-top: $pard-grid-spacing;
  background: $content-background;
  @include border-radius($layout-border-radius); 
  padding: 0.2rem;
}

.verticalAlign{
  @include vertical-align();
}




.profile-nav-circle-selected{
  @include pardCircle(2.2rem);
  position:relative;
}

.profile-nav-circle{
  @include pardCircle(2.2rem);
  position:relative;
}


.profile-nav-element-icon{
  @include absolute-center;
  font-size: 1.7rem;
}

.profile-nav-name-selected, .profile-nav-name-element, .profile-nav-production-name{
  line-height: 1.3rem;
  font-size: $smallSize;
  margin-bottom: 0;
  cursor: pointer;
}


.nav-list-container{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.nav-icon-production-container{
  width: 2.2rem;
}

.profile-nav-element-container, .production-nav-element-container{
  padding: 0.2rem 0.1rem;
  position: relative;
  width: 100%;
  display: block;
}

.profile-selected-container{
  /* background: $grey-1; */
  padding: 0.4rem 0.1rem;
  position: relative;
  width: 100%;
  cursor: pointer;
  min-height: 3.75rem;
  display: block;
}

.production-nav-element-container{
  min-height: 2.7rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}


.profile-nav-element-container{
  cursor: pointer;
  position: relative;
  width: 100%;
  padding-top: 0.4rem;
  min-height: 3.75rem;
}

.profile-nav-element-container:hover, .profile-selected-container:hover, .production-nav-element-container:hover{
  background: $grey-1;
  font-weight: bold;
  cursor: pointer;
}

.text-link-profile-nav{
  font-weight: bold;
}

.selected-element{
  font-weight: bold;
  background: $grey-1;
  /* border-left: 4px solid #000000; */
}

.message-otherProfile-asideBar, .message-productions-asideBar{
  text-transform: uppercase;
  font-size: $almostNormalSize;
  padding:0.2rem;
  margin-bottom: 0;
  line-height: 1.2rem;

}

.message-otherProfile-asideBar{
  margin-top:0.2rem;
}

/*-----------------
Profile Section
-------------------*/

.section-profilePhoto-container{
  width:100%;
  max-height: 13.75rem;
}



.section-profilePhoto-container-noPhoto{
  width:100%;
  @include breakpoint(large){ height: 13.75rem; }
  @include breakpoint(medium down){ height: 22vw;}
  @include breakpoint(small down){ height: 30vw;}

}

.title-profile-section-container{
  width:100%;
  @include breakpoint(medium){min-height: 3.5rem};
  @include breakpoint(small down){ min-height: 2.5rem;}
  background-color:$grey-1;
  padding-left:$inner-spacing;
  padding-right:$inner-spacing;
  padding-top:0.4rem;
  position:relative;
  margin-top:-0.2rem;
}

.text-title-profile-section{
  @include breakpoint(medium){font-size: 1.875rem;}
  @include breakpoint(small down){ font-size: 1.3rem;}
  font-weight: bold;
}

.section-box-container{
  border: 1px solid $grey-2;
  @include border-radius($element-border-radius);
  margin-top: $inner-spacing;
  position: relative;
}

.title-box-container{
  min-height: 3rem;
  background: $grey-1;
  font-size: 18px;
  font-weight: bold;
  padding: 0.6rem $inner-spacing;
}

.title-box-container .fa-bullhorn{
  font-size: 1.2rem;
  vertical-align: 0.2rem;
}

.box-content{
  padding: $inner-spacing;
  position: relative;
  font-size: $almostNormalSize;
}

.info-icon-title-box {
  font-size: 1.2rem;
}

.information-bio, .information-contact{
  @include breakpoint(large){
    display: inline-block;
    vertical-align: top;
  }
}

.information-bio{
  @include breakpoint(large){
    width: 60%;
    padding: 0 $inner-spacing 0 0;
  }
  p{
    font-size: $almostNormalSize;
  }
}

.information-contact{
  @include breakpoint(large){
    width: 40%;
     padding: 0 0 0 $inner-spacing;
  }
}

.information-contact-icon-column, .information-contact-text-column{
  display: inline-block;
  vertical-align: top; 
}

.information-contact-text-column{
  @include breakpoint(large){
    width: -moz-calc(100% - 2.8rem);
    width: -webkit-calc(100% - 2.8rem);
    width: calc(100% - 2.8rem);
  };
  line-height: 1.3rem;
  vertical-align: -0.2rem;
  font-size: $almostNormalSize;
  margin-bottom: 0.5rem;
}

.information-contact-icon-column{
  width: 2.8rem;
  color: $grey-3;
}

.icon-in-box{
  margin-right: $inner-spacing;
  vertical-align: -0.2rem;
}

.type-icon-info-box{
  color: $grey-3;
  font-size: 1.8rem;
}

.type-text-info-box{
 vertical-align: -0.4rem;
}

.mySocials-icon-info-box{
  font-size: 2rem;
}

.social-icon-fa{
  font-size: 1.3rem;
  margin-right: $inner-spacing;
  vertical-align: -0.2rem;
}

.activities-box-call-name{
  margin-bottom: 0rem;
}


.myProposals-field-label{
  font-size: $almostNormalSize;
  display: inline-block;
}

.postData-container{
  position: relative;
  margin-bottom: 3rem;
  margin-top:2rem;

}

.postData-container textarea{
  margin-top: -0.5rem;
  font-size: $almostNormalSize;
}

.myproposal-final-message{
  margin-bottom: 3rem;
}


/*-----------------
Production Section
-------------------*/

.short-description-text{
  font-weight: bold;
}


.production-title-box{
  width: 100%;
  background-color: $grey-1;
  min-height: 1.5rem;
  @include breakpoint (medium) {margin-top: -0.5rem};
  padding: 0 $inner-spacing;
  position: relative;
}

.multimedia-icon-title-box{
  font-size: 1.4rem;
}

.video-production-container{
  position: relative;
  width: 100%;
  padding: 0 $inner-spacing;
  margin-bottom:1rem;
}

.multimedia-container .video-production-container iframe{

  width: 100%;
  height: 25.5rem;
  display:block;
  position: relative;
  @include breakpoint (small down){
    height: -moz-calc(100vw * 0.57);
    height: -webkit-calc(100vw * 0.57);
    height: calc(100vw * 0.57);
  }
}


.video-title-box{
  border-bottom: 1px solid $grey-2;
  padding-top:0.8rem;
  padding-bottom:0.8rem; 
  width: 100%;
  margin-top: 2rem;
}

.video-production-container .fb-post iframe, .video-production-container .fb-post span{
  max-height: 25.5rem;
}  


.noembed-meta-info{
  display: none;
}


.single-video-container{
  position:relative;
  display: block;
  margin-top: 2rem;
  }

.single-image-container {
  position:relative;
  width: 22.7rem;
  margin: 0 auto;
}



.single-image-content{
  width: 350px;
  position: relative;
  display: inline-block;  
  margin:0 auto;
  margin-top: 2rem;
} 

.multimedia-container{
  padding-bottom: 2rem;
  word-wrap: break-word;
}

.single-image-container .noembed-wrapper {
  max-width: 350px;
  padding: 8px;
  border: 1px solid $grey-2;
}

.image-audio-title{
  padding:$inner-spacing;
}

.images-title-box{
  border-bottom: 1px solid $grey-2;
  padding-bottom:0.6rem; 
  width: 96%;
}


.images-title-box h6, .video-title-box h6{
  text-align: center;
  margin-bottom:0;
}

.video-production-container, .image-production-container{
  position:relative;
  width: 100%;
  display: block;
}

.image-production-container{
  @include breakpoint(large){  
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;}
  padding: 0 $inner-spacing;
  margin-bottom: 0.5rem;
}

.single-image-content span{
  overflow: inherit;
}

.single-image-content .Embed{
  width: 326px;
}

.single-image-content .instagram-media{
  width: 100%;
}

.flickr-embed-image-iframe{
  width: 100%;
  height: auto;
  border: none;
}

.multimedia-manager-message ul{
  margin-bottom: 0.4rem;
}

.multimedia-manager-message p{
  margin-bottom: 0.3rem;
}

.multimedia-manager-input-label{
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}

.multimedia-accepted-sublist{
  margin-bottom:0.5rem;

}

.multimedia-accepted-sublist li{
  font-size: $almostNormalSize;
}



.cloudinary_fileupload{
  margin-bottom: 1.5rem;
}

.file-upload-thumbnail{
  margin-bottom: 0.7rem;
}



#inline_player.inline_player{
  max-width: 100%;
}

.single-image-content iframe{
  max-width: 100%;
  min-width: 100%;
 }


/*------------
SMALL!!!
-------------*/

@media only screen and (max-width : 400px) {
 .single-image-container {
  max-width: 100%;
 }
 .single-image-content{
  max-width: 100%;
 }
 .images-title-box{
  width: 100%;
 }
 .large-bandcamp-audio-player iframe[style]{
    width: 100%;
    max-height: -moz-calc(98vw*1.35);
    max-height: -webkit-calc(98vw*1.35);
    max-height: calc(98vw*1.35); 
 }
}



/*===============================================
OUTSIDER PAGE
================================================*/

@media only screen and #{breakpoint(medium)} {

  .outsider-header{
    position:fixed;
    padding-right:0.9rem;
  }

  .outsider-main{
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

}



/*===============================================
CALL PAGE
================================================*/


.main-call-page{
  background: $grey-1;
  min-height: 100%;
}

.call-section{
  background: white;
  padding: $inner-spacing;
  position: relative;
}

.switcher-menu-call-page{
  top: 0.25rem;
  position: absolute;
  right: 0.25rem;
  
}

.menu.simple.tabs-menu.switcher-menu-call-page li{
  /* border-right: 1px solid $grey-3; */
  border-bottom: 1px solid $grey-3;
  border-left: 1px solid $grey-3;
  @include border-radius($element-border-radius);
  padding: 0.5rem; 
  font-size: $smallSize;

}


.tab-selected{
  /* background: $grey-1; */
  font-weight: bold;
  a {
    color: black;
    font-size: $almostNormalSize;
  }
}

/* .switcher-menu-call-page li.tab-selected{
  border-bottom: 2px solid $grey-3 !important;
  border-left: 2px solid $grey-3;
  box-shadow: -1px 1px 2px $grey-3;
} */

.menu.simple.tabs-menu li{
  margin-right:0.25rem;
}

.tabs-menu li{
  padding: 1rem 1.5rem;
  cursor: pointer;
}


.checkBox-call-manager{
  display: inline-block;
  width: 25%;
}

.table-proposal {
  font-size: 12px;
  margin-bottom: 0;
  }

.table-proposal tbody tr{
  border-top: 1px solid $grey-3;
}

.table-proposal .title-row-table-proposal {
  font-size: 14px;
  font-weight: bold;
}

.table-box-proposal-manager{
  overflow: auto;
  max-height: 90vh;
  margin-top: 2rem;
  border: 1px solid $grey-3;
  table{
    width: 100%;
  }
}

td.column-call-manager-table{
  min-width: 10rem;
} 

td.column-call-manager-table.column-link_orfheo{
  min-width: 2rem;
}

td.column-call-manager-table.column-description, td.column-call-manager-table.column-needs, td.column-call-manager-table.column-short_description, td.column-call-manager-table.column-own, td.column-call-manager-table.column-un_wanted, td.column-call-manager-table.column-amend, td.column-call-manager-table.column-sharing{
  min-width: 20rem;
}

td.column-call-manager-table.column-program{
  min-width: 24rem;
}


.inputSpace-container, .inputDayTime-container, .inputArtist-container, .add-space-input-field, .add-dayTime-input-field, .add-artist-input-field{
  display: inline-block;
  font-size: $almostNormalSize;
}

.inputArtist-container, .inputSpace-container{
  margin-bottom: 0.5rem;
}

div.inputSpace-container .select2-selection.select2-selection--multiple, div.inputDayTime-container .select2-selection.select2-selection--multiple, div.inputArtist-container .select2-selection.select2-selection--multiple{
  font-size: 14px;
}

.add-artist-input-field, .add-space-input-field, .add-dayTime-input-field{
  margin-bottom: 0.2rem;
}

.inputDayTime-container, .add-dayTime-input-field{
  width:11rem;
  margin-bottom: 0;
}

.inputSpace-container, .add-space-input-field{
  width:20.5rem;
}

.inputArtist-container, .add-artist-input-field{
  width:20.5rem;
}

.types-selector-call-manager{
  margin-bottom: 1.5rem;
  width: 21rem;
  display: inline-block;
  margin-right: 3rem;
  margin-right: 9rem;

}

.program-all-checkbox-container{
  display: inline;
}

.title-colText-call-manager{
  cursor: pointer;
}

th.icon-column-call-table{
  width: 2rem;
}


.search-input-call-manager-container{
  width: 36rem;
  @include horizontal-center;
  position: relative;
  margin-top: 2rem;
}

.submit-btn-call-manager-container{
  position:absolute;
  right: 0;
  height: 2.5rem;
}

.submit-btn-outer-container-call-manager{
  position:relative;
  display: block;
  min-height: 2rem;
  margin: 1rem; 
}

#succes-box-call-manager, #successBox-whiteList{
  margin-right: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  height: 2.5rem;
}


.success-icon-check-call-manager{
  color: $green-pard;
  font-size: 2.5rem;
  vertical-align: middle;
}

.success-check-call-manager{
  color: $green-pard;
  display: inline-block;
}

.search-input-call-manager-container  .select2-selection.select2-selection--multiple {
  min-height: 2.4rem;
}

.search-input-call-manager-container .select2-container .select2-search--inline .select2-search__field{
  font-size: $almostNormalSize;
}

#tablePanel, #proposalsPanel {
  margin-bottom: $pard-grid-spacing;
}

.add-proposal-box, .white-list-box{
  display: inline-block;
}

.add-proposal-box{
  width: 60%;
  padding-right: 2rem;
  /* border-right: 1px solid $grey-3; */
  vertical-align: top;

}

.white-list-box{
  width: 40%;
  padding-left: 2rem;
  border-left: 1px solid $grey-3;
  vertical-align: top;

}

.input-whiteList-container{
  width: 92%;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input-whiteList-container .select2-selection.select2-selection--multiple{
    font-size: 14px;

}

/* .input-whiteList-container input{
  width: 200px !important;
} */

/* .input-whiteList-container span{
  max-height: 2.5rem;
} */

.add-whiteList-input-field{
  width: 92%;
  font-size: 12px;
  margin-bottom: 0.2rem;
}

.callPage-createSpaceProposal{
  margin-top: 1.5rem;
}


.callPage-createArtistProposal{
  margin-bottom: 1.5rem;
} 


.callPage-createArtistProposal input.phone-input,  .callPage-createSpaceProposal input.phone-input {
  width: 13rem;
  display: inline-block;
  margin-left: 1.5rem;
} 

.callPage-categorySelector{
  margin-top: 2rem;
}


p.initial-text-proposalPanel{
  margin-bottom: 2rem;
}

.typeOwnproposal-icon-call-page{
  margin-right: 1rem;
}

.buttonsCOntainer-call-page{
  margin-bottom: 1.5rem;
}

.ownBox-call-manager{
  display: inline-block;
  width: 50%;
  vertical-align:top;
  padding: 0 1rem;
}

.own-proposals-list li{
  margin-bottom: 0.5rem;
  font-size: $almostNormalSize;
}




/*===============================================
ORGANIZATION PAGE
================================================*/


.manage-call-text{
  text-transform: uppercase;
  /* padding: 0 $inner-spacing; */
  margin-bottom: 0.5rem;
}

.manage-call-btn-text{
  margin-left: 0.75rem;
  font-weight: bold;
  vertical-align: 0.2rem;
}



