/* fon-size:
h1: 60px
h2: 48px
h3: 36px
h4: 24px
h5: 21px
h6: 18px /
normal: 16px / 1rem
$almostNormalSize: 14px / 0.875rem
$smallSize: 12px / 0.75 rem
$verySmallSize: 9px / 0.56rem 
$tinySize: 7px
small:80% -> 12.8px / 0.8rem

 */

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   vertical-align: baseline;
// }


// html {
//   min-height: 100%;
//   overflow: hidden;
// }

// body {
//   clear: both;
//   overflow: auto;
//   position:relative;
//   }



// -webkit-text-security: disc;

// -moz-text-security: disc;

// text-security: disc;


html, body{
 height: 100%;
 margin:0;
 border:0;
 padding:0;
}

body {
  // margin-right: 0!important;
        // overflow: hidden;
  overflow: hidden !important;
}


html{
  overflow: hidden;
}

main {
  padding-top:1.8rem;
  padding-bottom:1.8rem;
  background-color: $grey-1;
}

.whole-container {
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
    display: block;
    position: relative;
}

.very-fast {
  transition-duration: 150ms !important; }

.pac-container{
  z-index: 1100;
}

.warning{
  border:1px solid red;
}

.checkBox-warning{
  outline: 1px solid red;
}

/*===============================================
GENERAL LAYOUT
================================================*/

/*VALID FOR LARGE SCREEN >1024px*/

/*----------------
Grid and Bar
-----------------*/

@media only screen and #{breakpoint(large)} {
  .pard-grid {
    width: $pard-grid-width;
    margin: 0 auto; 
    clear: both;
    *zoom: 1;
    }

  .pard-grid:after {
  clear: both;
  }

  .grid-aside{
     width: $pard-aside-width;
  }

  .grid-spacing{
    width: $pard-grid-spacing;}

  .grid-section {
    width: $pard-section-width;
    min-height:100%;
  }

  .grid-spacing, .grid-section, .grid-aside{
    display: inline-block;
    vertical-align: top;
  }

  .displayNone-for-large {
      display: none;
  }

  .pard-bar {
    background: $content-background;
    width: 100%;
    z-index: 1;
    .left-bar-content{
      left:0;
      display: inline-block;
      position: absolute;
      margin-left:-0.5rem;
    }
    .right-bar-content{
      display: inline-block;
      position: absolute;
      margin-right: 0.4rem;
      right:0;
    }
  }
  .off-canvas-content{
    @include border-radius($layout-border-radius);

  }
}

/*ALL SCREEN*/

.grid-element-content{
  width: 100%;
  background: $content-background;
  @include breakpoint(medium){
    padding-left:2rem;
    padding-right:2rem;
  }
  padding-top:2rem;
  padding-bottom:2rem;
  min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;

}


.section-content{ 
  width: 100%;
  background: $content-background;
  padding-left:$padding-content;
  padding-right:$padding-content;
  padding-top:$padding-content;
  padding-bottom:2rem;
  min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;
}




.pard-header-container{
  position:relative;
  width: 100%;
   @include breakpoint(medium down){
    position:fixed;
    padding-right:0.2rem;
    min-height: 6.5rem;
    background-color: $content-background;
    width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 15px);
    z-index: 2;
    top:0;
    left:0;
    padding-top:0.5rem;
    border-bottom:1px solid white;
  }
}

.pard-container-relative{
  position:relative;
  width: 100%;
  }


/*FOR MEDIUM AND SMALL: TRANSITION WHEN SCREEN <= 1024px*/

/*--------------
off-canvas
-------------*/

.off-canvas-wrapper{
  overflow: hidden;
}

@media only screen and #{breakpoint(medium down)} { 
	.off-canvas-content,
  .#{$maincontent-class}{
    box-shadow: 0 0 10px rgba($black, 0.5);
  } 
  .off-canvas-grid-aside {
  @include breakpoint(medium){
    padding-top:1.5rem;
    overflow-x: hidden;

  }
  position: absolute;
  background: $content-background;
  z-index: -1;
  max-height: 100%;
  overflow-y: auto;
  transform: translateX(0); }
  [data-whatinput='mouse'] .off-canvas-grid-aside {
    outline: 0; }
  .off-canvas-grid-aside.position-left-grid-aside {
    left: -$pard-aside-width;
    top: 0;
    width: $pard-aside-width; 
    @include breakpoint(medium){
      width:13rem;
      left: -13rem;
    }}
    .is-open-left {
      transform: translateX($pard-aside-width); 
      @include breakpoint(medium){
      transform: translateX(13rem); 
      }
    }

  .displayNone-for-mediumDown{
    display:none;
  }
  .top-bar{
    min-height: 6.5rem;
    // border-bottom: 1px solid white;
  }
  .off-canvas-wrapper{
    margin-top: -1rem;
  }
}


/*====================
BUTTONS
======================*/

.pard-btn{
  background: $element-background;
  color: $element-color;
  @include border-radius($element-border-radius);
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
}

.pard-btn:hover{
    @include linearGradient(#383737,$element-background);
  }
button{
   outline: none;
}

.submit-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
}

.submit-btn-container{
  min-height: 2rem;
  margin-bottom: -0.8rem;
  width: 100%;  
}


.recoveryPasswd-popup-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
  margin-top:-0.9rem;
  margin-left:1.5rem;
}

.signup-form-btn{
  @include horizontal-center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  position:relative;
  margin-top: 1rem;
}

.plus-inform-btn, .minus-inform-btn{
  @extend .pard-btn;
  @include pardCircle(1.5rem);
  float: right;
  padding:0;
  
  // @include border-radius($element-border-radius);
}

.plus-inform-btn{
  margin-left:2rem;
  margin-top: -0.6rem;
} 

.minus-inform-btn{
  margin-top: -4rem;
  // margin-top: -0.6rem;
  margin-left:0.5rem;
}

.create-profile-btn {
  @include horizontal-center;
  margin-top: 3rem;
  height:2rem;
}

.login-btn{
  @extend .pard-btn;
  padding: 0.3rem 0.65rem;
  font-weight: 600;
  font-size: $almostNormalSize;
  // @include breakpoint(large){
  // margin-right: -0.1rem;}
  @include breakpoint(medium down){
    margin-right: 2rem;
  }
}

.signupButton{
  color: $element-color;
  font-weight: 600;
  width: 100%;
  padding-top:2rem;
  padding-bottom:2rem;
  margin-bottom: 1.5rem;
  @include border-radius($element-border-radius);
  font-size: $smallSize;
  @include linearGradient(#b9daad, #6cb252);
}

.signupButton-alert{
  color: $element-color;
  font-weight: 600;
  width:13rem;
  padding-top:1rem;
  padding-bottom:1rem;
  // margin-bottom: 1.5rem;
  @include border-radius($element-border-radius);
  font-size: $almostNormalSize;
  @include linearGradient(#b9daad, #6cb252);
  position: relative;
  margin-left:3rem;
}

.toUserPage-btn{
  height:3rem;
  width: 100%;
  font-weight: normal;
}

.modify-section-content-button-container{
  position: absolute;
  top:0;
  right:0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 70px;
  border-right-width: 0px;
  border-top: 70px solid black;
  width:0;

}

.modify-content-button{
  position: absolute;
  top: -4px;
  right: -4px;
  width: 50px;
  height: 50px;
}

/*===============================================
LOGIN PAGE
================================================*/

/*------------------
Header
-------------------*/

/*FOR MEDIUM AND SMALL: TRANSITION WHEN SCREEN <= 1024px*/

@media only screen and #{breakpoint(medium down)} { 
 .block-for-medium {
  display: block;
  width: 100%;
  }
.login-bar, .user-bar{
  width: 100%;
  background: $content-background;
}
  
}

/*LARGE*/


@media only screen and #{breakpoint(large)} {
  .login-bar{
    @extend .pard-bar;
    min-height: 6rem;
    padding-top: 0.9rem; 
  }
  .user-bar{
    @extend .pard-bar;
    min-height: 4.5rem;
    padding-top: auto; 
  }
}

/*GENERAL*/

.input-login {
 @include breakpoint(medium down){
    display: block;
    float: right; 
    padding-top: 0.5rem;
    .input-login-field {
      margin-bottom: 0.1rem;
    }
  }
  @include breakpoint(large){
    margin-right:-0.75rem;
    .input-login-field {
      display:inline-block;
      margin-right:0.4rem;
    }
  }
  .input-login-field{
    height: auto;
    font-size: $smallSize;
    width: 200px;
  }
}

.dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
    top: 100%;
    left: auto;
    right: 0;
}

// .login-header-tools, .login-header-tools label{
//   font-size: $smallSize;
// }

.rememberMe-ckb input{
  width:auto;
  margin-right:0;
  margin-top: 0.2rem;
}

.rememberMe-ckb{
  @include breakpoint(medium down){
    float: right;
  }
}

.passwdRecovery{
  @include breakpoint(medium down){
    display: block;
    margin-top: 0.2rem;
  }
}

.rememberMe-ckb {
  @include breakpoint(large){
    width: 10rem;
    display: block;
    margin-left: 0.1rem;
  }
}

.passwdRecovery, .rememberMe-ckb label{
   font-size: $smallSize;
}

.passwdRecovery{
  @include breakpoint(large){
    float: right;
    margin-top: -1.3rem;
    margin-right: 6.7rem;
  } 
}



/*-----------------------
Aside content LogIn page
-------------------------*/



// .signUp-aside-text{
//   position: horizontal-center;
//   margin-top: 8rem;
//   text-align: center;
//   color: $title-color;
// }

.info{
  width: 100%;
  background: $content-background;
  @include border-radius($layout-border-radius);
}

.aside-container{
  width: $pard-aside-width;
  position:relative;
}

.grid-aside-content{
  padding: 1rem 0.5rem 1rem 0.5rem;
}


/*------------------------------
grid-section content LogIn page
--------------------------------*/

.lateral-content-padding{
  @include breakpoint(medium down){
    padding-left:1.5rem;
    padding-right:1.5rem;
  }
  @include breakpoint(large){
    padding-left:2.2rem;
    padding-right:2.2rem;
  }
}

.grid-section-contentTitle{
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  color: $title-color;
  @include breakpoint(medium){
  margin-top: 2rem;
  margin-bottom: 3rem;}
  @include breakpoint(small down){
  margin-bottom: 5vw;}
} 

.filter-select{
  display: inline-block;
  width:10.3rem;
  text-align: center;
  background-color: $content-background;
  margin-right:0.3rem;
}

.search-input{
  height: auto;
  font-size: $almostNormalSize;
  display: inline-block;
  width: 84%;
  margin:0;
}

.search-btn{
  display: inline;
  padding: 0.5rem;
  font-weight: 600;
  font-size: $almostNormalSize;
  @extend .pard-btn;
  margin:0;
  width:15%;

}

.ui-widget{
  display: inline-block;
  width: 14.5rem
}

.display-inline{
  display: inline-block;
}


.search-results{
  margin-top: 2.5rem;
}


/*===============================================
USER PAGE
================================================*/

/*------------------
Header
-------------------*/

//GENERAL


.right-user-header-content{
  display: inline-block;
  position: absolute;
  margin-right: 0.4rem;
  right:0;
}

.left-user-header-content{
  left:0;
  display: inline-block;
  position: absolute;
  margin-left:-0.5rem;
}

.top-header-content{
  display: block;
  width: 100%;
  min-height: 3.5rem;
}



/*-----------------------
Aside content User page
-------------------------*/



.create-profile-container {
  display: block;
  position: relative;
  // position: absolute;
  width: 100%;
  min-height: 8rem;
  // margin-bottom: 1.5rem;
}



.myprofile-card-position{
  margin-top: 1.8rem;
  background-color: $content-background;
}


/*===============================================
PROFILE PAGE
================================================*/

/*--------
Aside
---------*/
.toUserPage-btn-container{
  margin-bottom:$pard-grid-spacing;
}

.profile-nav-container{
  @include border-radius($layout-border-radius);
  display: block;
  background: $content-background;
  margin-top: $pard-grid-spacing;
  padding: 0.2rem;
}


.name-column, .icon-column{
  display: inline-block;
  vertical-align: middle; 
}

.name-column{
  padding: 0rem 0.2rem 0rem 0.2rem;
  width: 8.2rem;
  // font-size: $smallSize;
}

.icon-column{
  padding: 0.4rem 0.2rem 0.4rem 0.2rem;
  width:2.7rem;
}

// .name-column, .icon-column{
//   display: inline-block;
//   vertical-align: top; 
// }

// .name-column{
//   padding: 0.7rem 0.2rem 0rem 0.2rem;
//   width: 8.5rem;
// }

// .profile-name-column{ //cancelar de diseño inicial
//   padding-bottom: 0.4rem;
// }

// .icon-column{
//   padding: 0.4rem 0.2rem 0.4rem 0.2rem;
//   width:2.4rem;
// }


.other-profiles-nav-container{
  display: block;  
  margin-top: $pard-grid-spacing;
  background: $content-background;
  @include border-radius($layout-border-radius); 
  padding:0.2rem;
}

.verticalAlign{
  @include vertical-align();
}

.production-icon-container{
  height:2.2rem;
}

.profile-nav-element-container{
  position: relative;
  width: 100%;
}

.profile-selected-container{
  background: $grey-1;
  padding: 0.2rem 0.1rem;
  position: relative;
  width: 100%;
  cursor: pointer;
  min-height: 3.75rem;
  display: block;
}

.profile-nav-circle-selected{
  @include pardCircle(2.2rem);
  position:relative;
}

.profile-nav-circle{
  @include pardCircle(2.2rem);
  position:relative;
}

// .profile-nav-circle-selected,.profile-nav-circle{
//   @include pardCircle(2rem);
//   position:relative;
// }


.profile-nav-element-icon{
  @include absolute-center;
}

.profile-nav-name-selected, .profile-nav-name-element, .profile-nav-production-name{
  line-height: 1.3rem;
  font-size: $smallSize;
  margin-bottom: 0;
  cursor: pointer;
}


.nav-list-container{
  margin-top: 0.2rem;
}

// .nav-list-container{
//   padding-bottom:0.4rem;
// }

.nav-icon-production-container{
  height: 2.2rem;
  width: 2.2rem;
}

// .nav-icon-production-container{
//   height: 2rem;
//   width: 2rem;
// }

.profile-nav-element-container, .production-nav-element-container{
  padding: 0.2rem 0.1rem;
  position: relative;
  width: 100%;
  min-height: 3.75rem;
  display: block;
}

.profile-nav-element-container{
  cursor: pointer;

}

.text-link{
  text-decoration: underline;
}

.selected-element{
  text-decoration: underline;
}

/*-----------------
Profile Section
-------------------*/

.section-profilePhoto-container{
  width:100%;
  height: 13.75rem;
}

.title-profile-section-container{
  width:100%;
  height: 4rem;
  background-color:$grey-1;
  padding-left:$padding-content;
  padding-right:$padding-content;
  padding-top:0.6rem;
  position:relative;
  margin-top:-0.2rem;
}

.text-title-profile-section{
  font-size: 1.875rem;
  font-weight: bold;
}

.section-box-container{
  border: 1px solid $grey-2;
  @include border-radius($element-border-radius);
  margin-top: 0.75rem;
}

.title-box-container{
  height: 3rem;
  background: $grey-1;
  font-size: 18px;
  font-weight: bold;
  padding: 0.4rem 0.75rem;
}

.informations-bio, .informations-contact{
  display: inline-block;
  vertical-align: top;
}

.informations-bio{
  width: 60%;
  padding: 0.75rem;
}

.informations-contact{
  width: 40%;
  padding: 0.75rem;
}

.icon-in-box{
  margin-right: 0.75rem;
}

/*===============================================
COMPONENTS
================================================*/


/*-----------------
Profile Card
-------------------*/

.profileCard{
  // border: solid 2px #bababa;
  box-shadow: 0px 1px 2px 1px rgba(10, 10, 10, 0.2);
  display: block;
  line-height: 0;
  transition: box-shadow 200ms ease-out;
  color: black;
  outline:none;
  @include border-radius($element-border-radius);
	position:relative;
  margin:0 auto;
  
  @include breakpoint(medium){
  	width: 11rem;
  	height: 14.25rem;
    padding: 3px;
  }
	
  @include breakpoint(small down) {
    width: 31vw;
    height: 39vw;
    padding: 1px;
  	.circleProfile {
			height:6vw;
			width: 6vw;
		}
		.position-circleProfile-card{
			margin-top: -3.5vw;		
		}
    .photo-container-card{
      height: 10vw;
    }
		.name-profileCard{
			margin-top: 5.3vw;
			font-size: 2.7vw;
      line-height:3.2vw;
      height: 10vw;
		}
		.city-profileCard{
			margin-top: 2.3vw;
			font-size: 2.2vw;
			padding-bottom: 2.7vw;
		}
		.category-profileCard{
			font-size: 2.2vw;
			margin-top: 3.5vw; 
		}
	}
}

.profileCard:hover, .profileCard:focus {
    // box-shadow: 0 0 6px 1px rgba(255, 0, 0, 0.3);
    cursor:pointer; 
        // inset 0 0 0 1000px rgba(255,0,0,0.05), 
}  // If you want the shadow of the profile-color use js: .css({box-shadow: "0 0 6px 1px rgba(255, 0, 0, 0.5);"})

.position-profileCard-login{
  position:relative;
	margin-top:0.8rem;
  margin-bottom: 1rem; 
  @include breakpoint(small down) {
  @include horizontal-center;
  position:relative;
  }
}

.photo-container-card{
  display: block;
  width: 100%;
  height: 3.75rem;
  margin:0 auto;
  background:red;
}

.circleProfile{
  @include pardCircle(2.2rem);
  // background: red;
}

.position-circleProfile-card {
	margin-top:-1.15rem;
	@include horizontal-center;

}

.icon-profileCircle {
	@include absolute-center;
}

.name-profileCard{
  @include breakpoint(medium){
    padding-left: 1px;
    padding-right:1px;
  }
  color: black;
	margin-top: 2.1rem;
	text-align:center;
	width:100%;
  line-height: 1.3rem;
  height: 2.5rem;
  display: block;
}

.city-profileCard{
	width:100%;
	display:block;
	text-align:center;
	color:$text-color;
	margin-top:1.6rem;
	// @include horizontal-center;
	border-bottom: 1px solid $text-color;
	padding-bottom: 1rem;
  font-size: $almostNormalSize;
}

// .line-profileCard{
// 	position:absolute;
// 	margin-top:10.6rem;
// 	display:block;
// 	width: 90%;
// 	@include horizontal-center;
// }

.category-profileCard{
	width: 100%;
	color: $text-color;
	font-size: $smallSize;
	text-align: center;	
	display:block;
	margin-top:1.4rem;
}

// .circleProfile:hover, .line-profileCard:hover{
//  	    box-shadow: 0 0 6px 1px rgba(255, 0, 0, 0.5);  // Try to add some effect like these with on.mauseover profileCard with js
// }  
// .name-profileCard:hover{
// 		text-shadow:0 0 3px rgba(255, 0, 0, 0.5);
// } 


/*==============================================
FOOTER
===============================================*/

.footer-bar{
  @extend .pard-bar;
  position:relative;
  background: $content-background;
  padding-bottom:0rem;
  bottom:0;
  @include breakpoint(large) {  
    height:5rem;
    padding-top:2rem;
  }
  @include breakpoint(medium down){
  padding-top:0.5rem;
  padding-bottom:0.5rem;

  }
  border-top: 1px solid white;
}

.footer-right{
  @include breakpoint(large){
    padding-right:0.6rem;
  }
}

.footer-left{
  @include breakpoint(large){
    padding-left:0.7rem;
  }
}


/*==============================================
FORMS
===============================================*/


// select:-moz-focusring {
//     color: transparent;
//     text-shadow: 0 0 0 #000;
// }
select, textarea{
    @include border-radius($element-border-radius);
    outline: none;
}

.popup-form button {
  autline: none;
}

.popup-form input, .popup-form textarea, .popup-form select{
    @include border-radius($element-border-radius);
    height: auto;
    font-size: $almostNormalSize;
}

.popup-form .route-addressForm, .popup-form .street_number-addressForm,.popup-form .door-addressForm, .popup-form .locality-addressForm, .popup-form .country-addressForm, .popup-form .postal_code-addressForm, .multiMedia {
  font-size: $smallSize;
  margin-bottom: 0.5rem;
  display: inline-block; 
}

.popup-form .postal_code-addressForm {
  font-size: $smallSize;
  margin-bottom: 1.1rem;
  display: inline-block; 
}



// .popup-form 
//   .route-addressForm, 
//   .street_number-addressForm, 
//   .door-addressForm, 
//   .locality-addressForm, 
//   .country-addressForm, 
//   .postal_code-addressForm{
//     font-size: $smallSize; 
//   }


.help-text{
  line-height: 0.9rem;
  margin-top: -0.5rem;
}

// .form-input{
 
//   // line-height: 1.5rem;
// }

// .category-input, .title-input, .description-input, .short_description-input, .duration-input, .components-input, .meters-input, .availability-input, .links-input, .sharing-input, .needs-input, .phone-input, .city {
//   @extend .form-input;
// }

//textareas
.description-input, .short_description-input, .needs-input, .sharing-input{
  line-height: 1.2rem;
}


.error-text, .not-filled-text{
  color: red;
  font-size: $almostNormalSize;
  min-height: 1.5rem;
}

.not-filled-text{
  margin-bottom: -0.5rem;
}

.popup-form .color-input{
  height: 2.5rem;
}

.webTitle-input{
  margin-bottom: 0.5rem;
}

.photo-form{
  margin-bottom: 1rem;
  margin-left:1rem;
}

.message-form{
    margin-bottom: 1rem;
}

.title-part{
  @include breakpoint(large){
    margin-top: 1.3rem;
    margin-bottom: 3rem;
  }
  @include breakpoint(medium down){
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.links-ArtistCall{
  margin-top:0.5rem;
}  

.category-input{
  font-size: 14px;
  height: auto;
}

.photos-modifyProduction{
  margin-bottom: 1rem;
}

/*LARGE*/

@media only screen and #{breakpoint(large)} {

  .components-input{
      width: 5rem; 
  }

  .duration-input{
    width: 6rem;
    margin-left: 1rem;
  }

  .category-input{
    width: 12rem;
  }

  // .phone-input{
  //   width: 12rem;
  // }

  .city-ArtistForm, .city-modifyProfile{
    width: 17rem;
    display: inline-block;
    margin-right: 3rem;   
  }

  .zip_code-ArtistForm, .zip_code-modifyProfile{
    width: 13rem;
    display: inline-block;  
    // float: right;
  }

  .route-addressForm{
    width: 17rem;
  }

  .street_number-addressForm, .door-addressForm{
    width: 5rem;
    margin-left:1rem;
  }

  .locality-addressForm{
    width: 13rem;
  }

  .country-addressForm{
    width: 13rem;
    margin-left:1rem;
  }

  .postal_code-addressForm{
    width: 8rem;
    margin-left:1rem;
  }

  .category-SpaceForm, .category-modifyProfile{
    margin-top: 1.8rem;
    margin-bottom: -0.8rem;
  }

  .phone-SpaceCall, .phone-ArtistCall{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem; 
    width: 24rem;
    input{
      width: 13rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .availability-SpaceCall{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem; 
    // width: 24rem;
    input{
      width: 21rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .availability-ArtistCall{
    margin-bottom: 1.5rem;
    // margin-top: 1.2rem; 
    // width: 24rem;
    input{
      width: 21rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .responsible-SpaceCall{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem; 
    input{
      width: 19rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .components-input, .category-input{
    display: inline-block;
    margin-left: 1.5rem;
  }

  .children-ArtistCall, .children-modifyProduction{
    display: inline-block;
    margin-left: 3.8rem
  }

  .duration-ArtistCall, .duration-modifyProduction{
    display: inline-block;
    margin-top: 1.7rem;
    margin-bottom: -0.5rem;
  }

  .m-artistCall{
    font-size: 14px;
    float: right;
    margin-top: -0.5rem;
  }
  
  .t-artistCall{
    border-bottom: 1px solid;
  }  

  .profilePhoto-modifyProfile{
    display: inline-block;
    margin-left: 4rem;
    position: absolute;
    margin-top: -0.4rem;  
  }

  .name-modifyProfile{
    width: 17rem;
    display: inline-block;
  }

}


/*==============================================
POPUP
===============================================*/

 // .reveal-design{
 //   padding-bottom: 1.2rem;
 // }

// .popup-content, .popup-header{
//   padding-left: 0.75rem; 
//   padding-right: 0.75rem;
// }

// .popup-close-btn{

// }

// .pupup-title{

// }

.popup-header{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.popup-content{
  margin-bottom: 2rem; 
}

.full{
  background: rgba(0,0,0,0.6);
  overflow-x:hidden;
}

.popup-container-full,.alert-container-full{
  position: relative;
  margin: 0 auto;
  clear: both;
  background: $content-background;
  display: block;
  padding: 1rem 1.5rem 0.01rem 1.5rem;
  @include border-radius($layout-border-radius);
}

.popup-container-full{
    max-width: 40rem; //640px
    margin-bottom: 0.6rem;
    // @include absolute-center;
    @include breakpoint(small down){
      margin-right: 2rem;
    }
}

.alert-container-full{
    max-width: 22rem; //352px
}

.vcenter-outer{
  display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}

.vcenter-inner{
  display: table-cell;
  vertical-align: middle;
}

