/* fon-size:
h1: 60px
h2: 48px
h3: 36px
h4: 24px
h5: 21px
h6: 18px /
normal: 16px / 1rem
$almostNormalSize: 14px / 0.875rem
$smallSize: 12px / 0.75 rem
$verySmallSize: 9px / 0.56rem 
$tinySize: 7px
small:80% -> 12.8px / 0.8rem

 */

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   vertical-align: baseline;
// }


// html {
//   min-height: 100%;
//   overflow: hidden;
// }

// body {
//   clear: both;
//   overflow: auto;
//   position:relative;
//   }



// -webkit-text-security: disc;

// -moz-text-security: disc;

// text-security: disc;




html, body{
 height: 100%;
 margin:0;
 border:0;
 padding:0;
}

body {
  overflow: hidden !important;
}


html{
  overflow: hidden;
}

main {
  padding-top:1.8rem;
  padding-bottom:1.8rem;
  // background: $content-background;
  min-height: 100vh;
}

a, a:active, a:visited, a:hover {
  color: #3885ff;
}

a:hover{
  color: rgba(56, 133, 255,0.8);
  // text-decoration: underline;
}

a.profileCard:hover{
    text-decoration: none;

} 


.whole-container {
    overflow-y: scroll;
    height: 100%;
    max-height: 100%;
    display: block;
    position: relative;
}

.very-fast {
  transition-duration: 150ms !important; }

.pac-container{
  z-index: 1100;
}

.warning{
  border:1px solid red;
}

.checkBox-warning{
  outline: 1px solid red;
}


/*===============================================
GENERAL LAYOUT
================================================*/

/*VALID FOR LARGE SCREEN >1024px*/

/*----------------
Grid and Bar
-----------------*/

@media only screen and #{breakpoint(large)} {
  .pard-grid {
    width: $pard-grid-width;
    margin: 0 auto; 
    clear: both;
    *zoom: 1;
    }

  .pard-grid:after {
  clear: both;
  }
 
  .grid-spacing{
    width: $pard-grid-spacing;}

  .grid-section {
    width: $pard-section-width;
    min-height:100%;
  }
  
}

@media only screen and #{breakpoint(medium)} {
  .grid-aside{
     width: $pard-aside-width;
  }

  .grid-spacing, .grid-section, .grid-aside{
    display: inline-block;
    vertical-align: top;
  }

  .displayNone-for-large {
      display: none;
  }

  .off-canvas-content{
    @include border-radius($layout-border-radius);
  }

  @include breakpoint(medium down){
    .grid-section{
      width: -moz-calc(100% - 12.5rem);
      width: -webkit-calc(100% - 12.5rem);
      width: calc(100% - 12.5rem);
      margin-left:0.5rem;
    }
  }


  .pard-bar {
    background: $content-background;
    width: 100%;
    z-index: 1;
    .left-bar-content{
      left:0;
      display: inline-block;
      position: absolute;
    }
    .right-bar-content{
      display: inline-block;
      position: absolute;
      margin-right: 0.4rem;
      right:0;
    }
  }

}

@include breakpoint(large){
  .left-bar-content{
    margin-left:-0.5rem;
  } 
}




/*ALL SCREEN*/

.grid-element-content{
  width: 100%;
  background: $grey-1;
  // @include breakpoint(medium){
  //   padding: $inner-spacing;
   
  // }
   padding: $inner-spacing;
  padding-bottom:2rem;
  min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;

}


.section-content{ 
  width: 100%;
  background: $content-background;
  padding-left:$inner-spacing;
  padding-right:$inner-spacing;
  padding-top:$inner-spacing;
  padding-bottom:2rem;
  // min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;
}




.pard-header-container{
  position:relative;
  width: 100%;
   @include breakpoint(small down){
    position:fixed;
    padding-right:0.6rem;
    min-height: 6.5rem;
    background-color: $content-background;
    z-index: 2;
    top:0;
    left:0;
    padding-top:0.5rem;
    border-bottom:1px solid white;
  }
}

.pard-container-relative{
  position:relative;
  width: 100%;
  }


/*FOR MEDIUM AND SMALL: TRANSITION WHEN SCREEN <= 1024px*/

/*--------------
off-canvas
-------------*/

.off-canvas-wrapper{
  overflow: hidden;
}

@media only screen and #{breakpoint(small down)} { 
	.off-canvas-content,
  .#{$maincontent-class}{
    box-shadow: 0 0 10px rgba($black, 0.5);
  } 
  .off-canvas-grid-aside {
  // @include breakpoint(medium){
  //   padding-top:1.5rem;
  //   overflow-x: hidden;

  // }
  position: absolute;
  background: $content-background;
  z-index: -1;
  max-height: 100%;
  overflow-y: auto;
  transform: translateX(0); }
  [data-whatinput='mouse'] .off-canvas-grid-aside {
    outline: 0; }
  .off-canvas-grid-aside.position-left-grid-aside {
    left: -$pard-aside-width;
    top: 0;
    width: $pard-aside-width; 
    // @include breakpoint(medium){
    //   width:13rem;
    //   left: -13rem;
    // }
  }
    .is-open-left {
      transform: translateX($pard-aside-width); 
      // @include breakpoint(medium){
      // transform: translateX(13rem); 
      // }
    }

  .displayNone-for-mediumDown{
    display:none;
  }
  .top-bar{
    min-height: 6.5rem;
    // border-bottom: 1px solid white;
  }
  .off-canvas-wrapper{
    margin-top: -1rem;
  }
}


/*====================
BUTTONS
======================*/
.welcome-img-section-header {
  background-image: url(<%= image_path 'cartel_reunion2016.jpg' %>);
  width: 100%;
  @include breakpoint(large){ height: 13.75rem; }
  @include breakpoint(medium down){ height: 22vw;}
  @include breakpoint(small down){ height: 30vw;}
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


.pard-btn{
  background: $element-background;
  color: $element-color;
  @include border-radius($element-border-radius);
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
}

.pard-btn:hover{
    background: rgba(0,0,0,0.8);
  }
button{
   outline: none;
}

.submit-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
}

.submit-btn-container{
  min-height: 2rem;
  margin-bottom: -0.8rem;
  width: 100%;  
}


.recoveryPasswd-popup-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
  margin-top:-0.9rem;
  margin-left:1.5rem;
}

.signup-form-btn{
  @include horizontal-center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  position:relative;
  margin-top: 1rem;
}


.create-profile-btn {
  cursor: pointer;
  width: 100%;  
  padding: 0.5rem $inner-spacing; 
  border: 2px solid transparent;

}

.create-profile-btn:hover{
  border: 2px solid $grey-1;
}

.create-artist-btn-popup, .create-space-btn-popup{
    border: 2px solid $grey-2;
    @include breakpoint(medium){
     display: inline-block; 
     margin-left: 4.8rem; 
    };
    cursor: pointer;    
    margin-bottom: 0.5rem;
}

.create-artist-btn-popup:hover, .create-space-btn-popup:hover{
      background-color: $grey-1;
    }

.create-artist-btn-popup{
    padding: 0.5rem 3rem;
}

.create-space-btn-popup{
  padding: 0.5rem 2.7rem;
}

.create-profile-btn-text{
  margin-left:$inner-spacing;
  font-weight: bold;
}

.create-profile-btn-icon{
  font-size: 1.8rem;
  font-weight: bold;
  vertical-align: bottom;
}

.login-btn{
  @extend .pard-btn;
  padding: 0.3rem 0.65rem;
  font-weight: 600;
  font-size: $almostNormalSize;
  // @include breakpoint(large){
  // margin-right: -0.1rem;}
  @include breakpoint(small down){
    margin-right: 2rem;
  }
}

// .signupButton{
//   color: $element-color;
//   font-weight: 600;
//   width: 100%;
//   padding-top:2rem;
//   padding-bottom:2rem;
//   margin-bottom: 1.5rem;
//   @include border-radius($element-border-radius);
//   font-size: $smallSize;
//   @include linearGradient(#b9daad, #6cb252);
// }


.signupButton{
  color: $element-color;
  font-weight: bold;
  width: 100%;
  height: 3rem;
  // margin-bottom: $pard-grid-spacing;
  margin-bottom: 0.8rem;
  margin-top:1rem;
  @include border-radius($element-border-radius);
  background: rgb(56, 133, 255);
}

.signupButton:hover, .signupButton-alert:hover{
    background: rgba(56, 133, 255,0.8);
}

.signupButton-alert{
  color: $element-color;
  font-weight: 600;
  width:13rem;
  padding-top:1rem;
  padding-bottom:1rem;
  // margin-bottom: 1.5rem;
  @include border-radius($element-border-radius);
  font-size: $almostNormalSize;
  background: rgb(56, 133, 255);
  position: relative;
  margin-left:3rem;
}

// .signUp-button-welcome-section{
//   background: white;
//   font-weight: bold;
//   @include border-radius($element-border-radius);
//   padding: 1rem 3.5rem;
//   border: 2px solid $grey-2;
//   font-size: 21px;
//   position: absolute;
//   left:17rem;
//   top: 0;
// }

// .signUp-button-welcome-section:hover{
//   box-shadow: 0px 1px 1px 1px rgba(10, 10, 10, 0.2);
// }

.signUp-button-welcome-section{
  @extend .pard-btn;
  @include breakpoint(large){
  position: absolute;
  top: -2.5rem;
  right: 0.5rem;}
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.toUserPage-btn{
  height:3rem;
  width: 100%;
  font-weight: bold;
  font-size: $almostNormalSize;
}

.modify-section-content-button-container{
  position: absolute;
  top:0;
  right:0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 70px;
  border-right-width: 0px;
  border-top: 70px solid black;
  width:0;

}

.modify-content-button{
  position: absolute;
  top: -4px;
  right: -4px;
  width: 50px;
  height: 50px;
}

// .modify-section-content-button-container button:hover{
//   font-weight: bold;
// }

.callButtonArtist-sendOther{
  @include breakpoint(large){
    position: absolute;
    // top: 0.75rem;
    top: -2.4rem;
    right: 0.75rem;    
  }
  font-size: $almostNormalSize;
}

.add-multimedia-input-button{
  position: relative;
  top: 0.4rem;
  left: 0.3rem;
  cursor: pointer;
}

.add-input-button-enlighted{
  color: red;
}

.links-accepted-caller{
  position: absolute;
  right: 2rem;
  font-size:$smallSize;
}

.links-accepted-container{
  position:relative;
  width: 100%;
  margin-top: -1rem;
  padding-bottom: 0.9rem;
}


.add-multimedia-input-field{
  width: -moz-calc(100% - 2rem);
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
  display: inline-block;
}

.manage-multimedia-btn{
  @include breakpoint(large){
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
  }
  font-size: $almostNormalSize;
  @include breakpoint(medium down){
    margin-top: $inner-spacing;
    margin-left: $inner-spacing;
  }

}

.send-post-data-btn{
  @extend .pard-btn;
  position: absolute;
  right:0;
  margin-top: -1rem;
  font-size: $smallSize;
}





/*===============================================
COMPONENTS
================================================*/


/*-----------------
Profile Card
-------------------*/

.profileCard{
  // border: solid 2px #bababa;
  box-shadow: 0px 1px 2px 1px rgba(10, 10, 10, 0.2);
  display: block;
  line-height: 0;
  transition: box-shadow 200ms ease-out;
  color: black;
  outline:none;
  background: white;
  @include border-radius($element-border-radius);
	position:relative;
  margin:0 auto;
  
  @include breakpoint(medium){
  	width: 11rem;
  	height: 14.25rem;
    padding: 3px;
  }
	
  @include breakpoint(small down) {
    width: 31vw;
    height: 39vw;
    padding: 1px;
  	.circleProfile {
			height:6vw;
			width: 6vw;
		}
		.position-circleProfile-card{
			margin-top: -3.5vw;		
		}
    .photo-container-card{
      height: 10vw;
    }
		.name-profileCard{
			margin-top: 5.3vw;
			font-size: 2.7vw;
      line-height:3.2vw;
      height: 10vw;
		}
		.city-profileCard{
			margin-top: 2.3vw;
			font-size: 2.2vw;
			padding-bottom: 2.7vw;
		}
		.category-profileCard{
			font-size: 2.2vw;
			margin-top: 3.5vw; 
		}
	}
}

.profileCard:hover, .profileCard:focus {
    // box-shadow: 0 0 6px 1px rgba(255, 0, 0, 0.3);
    cursor:pointer; 
        // inset 0 0 0 1000px rgba(255,0,0,0.05), 
}  // If you want the shadow of the profile-color use js: .css({box-shadow: "0 0 6px 1px rgba(255, 0, 0, 0.5);"})

.position-profileCard-login{
  position:relative;
	margin-top:0.8rem;
  margin-bottom: 1rem; 
  @include breakpoint(small down) {
  // @include horizontal-center;
  position:relative;
  }
}

.photo-container-card{
  display: block;
  width: 100%;
  height: 3.75rem;
  margin:0 auto;
  background:red;
}

.circleProfile{
  @include pardCircle(2.2rem);
  // background: red;
}

.position-circleProfile-card {
	margin-top:-1.15rem;
	@include horizontal-center;

}

.icon-profileCircle .material-icons{
	@include absolute-center;
  font-size: 1.7rem;
}

.name-profileCard{
  @include breakpoint(medium){
    padding-left: 1px;
    padding-right:1px;
  }
  color: black;
	margin-top: 2.1rem;
	text-align:center;
	width:100%;
  line-height: 1.3rem;
  height: 2.5rem;
  display: block;
}

.city-profileCard{
	width:100%;
	display:block;
	text-align:center;
	color:$text-color;
	margin-top:1.6rem;
	// @include horizontal-center;
	border-bottom: 1px solid $text-color;
	padding-bottom: 1rem;
  font-size: $almostNormalSize;
}

// .line-profileCard{
// 	position:absolute;
// 	margin-top:10.6rem;
// 	display:block;
// 	width: 90%;
// 	@include horizontal-center;
// }

.category-profileCard{
	width: 100%;
	color: $text-color;
	font-size: $smallSize;
	text-align: center;	
	display:block;
	margin-top:1.4rem;
}

// .circleProfile:hover, .line-profileCard:hover{
//  	    box-shadow: 0 0 6px 1px rgba(255, 0, 0, 0.5);  // Try to add some effect like these with on.mauseover profileCard with js
// }  
// .name-profileCard:hover{
// 		text-shadow:0 0 3px rgba(255, 0, 0, 0.5);
// } 


/*-----------------
Dropdown
-------------------*/

.is-dropdown-submenu-item:hover{
  background: $grey-1;
}

.is-dropdown-submenu-item{
  font-size:$almostNormalSize;
}


.is-dropdown-submenu-item a, .is-dropdown-submenu-item a:hover{
  color: black;
  text-decoration: none;
}



/*==============================================
FOOTER
===============================================*/

.footer-bar{
  @extend .pard-bar;
  position:relative;
  background: $content-background;
  padding-bottom:0rem;
  bottom:0;
  @include breakpoint(medium) {  
    height:5rem;
    padding-top:2rem;
  }
  @include breakpoint(small){
  padding-top:0.5rem;
  padding-bottom:0.5rem;

  }
  border-top: 2px solid $grey-1;
}

.footer-right{
  @include breakpoint(large){
    padding-right:0.6rem;
  }
}

.footer-left{
  @include breakpoint(large){
    padding-left:0.7rem;
  }
}


/*==============================================
FORMS
===============================================*/


// select:-moz-focusring {
//     color: transparent;
//     text-shadow: 0 0 0 #000;
// }
select, textarea, a{
    @include border-radius($element-border-radius);
    outline: none;
}

.popup-form button {
  autline: none;
}

.popup-form input, .popup-form textarea, .popup-form select{
    @include border-radius($element-border-radius);
    height: auto;
    font-size: $almostNormalSize;
}

.popup-form .route-addressForm, .popup-form .street_number-addressForm,.popup-form .door-addressForm, .popup-form .locality-addressForm, .popup-form .country-addressForm, .popup-form .postal_code-addressForm, .multiMedia {
  font-size: $smallSize;
  margin-bottom: 0.5rem;
  display: inline-block; 
}

.popup-form .postal_code-addressForm {
  font-size: $smallSize;
  margin-bottom: 1.1rem;
  display: inline-block; 
}


.help-text{
  line-height: 0.9rem;
  margin-top: -0.5rem;
}


.description-input, .short_description-input, .needs-input, .sharing-input{
  line-height: 1.2rem;
}


.error-text, .not-filled-text{
  color: red;
  font-size: $almostNormalSize;
  min-height: 1.5rem;
}

.not-filled-text{
  margin-bottom: -0.5rem;
}

.popup-form .color-input{
  height: 2.5rem;
}

.webTitle-input{
  margin-bottom: 0.5rem;
}

.photo-form{
  margin-bottom: 1rem;
  margin-left:1rem;
}

.message-form{
    margin-bottom: 2rem;
}

.init-message-form{
  margin-bottom: 2rem;
  font-size: $almostNormalSize;
}

.final-message-form{
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: red;
  font-size:$almostNormalSize;
}

.title-part{
  @include breakpoint(large){
    margin-top: 1.3rem;
    margin-bottom: 3rem;
  }
  @include breakpoint(small down){
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

.links-ArtistCall{
  margin-top:0.5rem;
}  

.category-input{
  font-size: 14px;
  height: auto;
}

.photos-modifyProduction{
  margin-bottom: 1rem;
}

/*LARGE*/

@media only screen and #{breakpoint(large)} {

  .components-input{
      width: 5rem; 
  }

  .duration-input{
    width: 6rem;
    margin-left: 1rem;
  }

  .category-input{
    width: 12rem;
  }

  .city-ArtistForm, .city-modifyProfile{
    width: 17rem;
    display: inline-block;
    margin-right: 3rem;   
  }

  .zip_code-ArtistForm, .zip_code-modifyProfile{
    width: 13rem;
    display: inline-block;  
    // float: right;
  }

  .route-addressForm{
    width: 17rem;
  }

  .street_number-addressForm, .door-addressForm{
    width: 5rem;
    margin-left:1rem;
  }

  .locality-addressForm{
    width: 13rem;
  }

  .country-addressForm{
    width: 13rem;
    margin-left:1rem;
  }

  .postal_code-addressForm{
    width: 8rem;
    margin-left:1rem;
  }

  .category-SpaceForm, .category-modifyProfile{
    margin-top: 1.8rem;
    margin-bottom: -0.8rem;
  }

  .phone-SpaceCall, .phone-ArtistCall{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem; 
    width: 24rem;
    input{
      width: 13rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .availability-SpaceCall{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem; 
    // width: 24rem;
    input{
      width: 21rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .availability-ArtistCall{
    margin-bottom: 1.5rem;
    // margin-top: 1.2rem; 
    // width: 24rem;
    input{
      width: 21rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .responsible-SpaceCall{
    margin-bottom: 1.5rem;
    margin-top: 1.2rem; 
    input{
      width: 19rem;
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  .components-input, .category-input{
    display: inline-block;
    margin-left: 1.5rem;
  }

  .children-ArtistCall, .children-modifyProduction{
    display: inline-block;
    margin-left: 3.8rem
  }

  .duration-ArtistCall, .duration-modifyProduction{
    display: inline-block;
    margin-top: 1.7rem;
    margin-bottom: -0.5rem;
  }

  .m-artistCall{
    font-size: 14px;
    float: right;
    margin-top: -0.5rem;
  }
  
  .t-artistCall{
    border-bottom: 1px solid;
  }  

  .profilePhoto-modifyProfile{
    display: inline-block;
    margin-left: 4rem;
    position: absolute;
    margin-top: -0.4rem;  
  }

  .name-modifyProfile{
    width: 17rem;
    display: inline-block;
  }

}


/*==============================================
POPUP
===============================================*/

 
.popup-header{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.popup-content{
  margin-bottom: 2rem; 
}

.full{
  background: rgba(0,0,0,0.6);
  overflow-x:hidden;
}

.popup-container-full,.alert-container-full{
  position: relative;
  margin: 0 auto;
  clear: both;
  background: $content-background;
  display: block;
  padding: 1rem 1.5rem 0.01rem 1.5rem;
  @include border-radius($layout-border-radius);
}

.popup-container-full{
    max-width: 40rem; //640px
    margin-bottom: 0.6rem;
    // @include absolute-center;
    @include breakpoint(small down){
      margin-right: 2rem;
    }
}

.alert-container-full{
    max-width: 22rem; //352px
}

.popup-photo-container{
  display: block;
  position: relative;
  margin: 0 auto;
  clear: both;
  max-width: 750px;
}

.vcenter-outer{
  display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}

.vcenter-inner{
  display: table-cell;
  vertical-align: middle;
}



/*==============================================
ICONS
===============================================*/

.icon-book-open, .icon-theatre{
  font-size: 1.3rem;  
}

/*==============================================
SEARCH
===============================================*/

.select2-results__message {
  display: none !important;
}


.select2-container {
  max-width: 100%;
  min-width:100%;
  }

.select2-container .select2-selection--multiple{
  border-radius: $element-border-radius;
}
