/* fon-size:
h1: 60px
h2: 48px
h3: 36px
h4: 24px
h5: 21px
h6: 18px /
normal: 16px / 1rem
$almostNormalSize: 14px / 0.875rem
$smallSize: 12px / 0.75 rem
$verySmallSize: 9px / 0.  56rem 
$tinySize: 7px
small:80% -> 12.8px / 0.8rem
 
 */ 
/*  
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   vertical-align: baseline;
// }


// html {
//   min-height: 100%;
//   overflow: hidden;
// }

// body {
//   clear: both;
//   overflow: auto;
//   position:relative;
//   } */

.spinner{
  position: fixed !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}


html, body{
 height: 100%;
 margin:0;
 border:0;
 padding:0;
}

body {
 /* overflow: hidden !important; */
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}


html{
  overflow-x: hidden;
  /* overflow-y: auto; */
}

main {
  padding-top:1.8rem;
  padding-bottom:1.8rem;
  min-height: -moz-calc(100vh - 1.8rem - 3rem);
  min-height: -webkit-calc(100vh - 1.8rem - 3rem);
  min-height: calc(100vh - 1.8rem - 3rem);
  @include breakpoint(small down){
    padding-top:1.6rem;
  }
}

header, footer, main{
  /* width: 100vw !important; */
  overflow: hidden;
/*   @include breakpoint(medium down){
    width: calc(100vw - 2rem) !important;
  } */
}

a, a:active, a:visited, a:hover {
  color: #3885ff;
}

a:hover{
  color: rgba(56, 133, 255,0.8);
}

a.profileCard:hover{
    text-decoration: none;

} 

.whole-container {
    max-height: 100%;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.innerWrapperDiv{
  width:100vw;
  @include breakpoint(medium down){
    width: 100%;
  }
}

.very-fast {
  transition-duration: 150ms !important; }

.pac-container{
  z-index: 1100;
}

.warning{
  border:1px solid red !important;
}

.available{
  border:1px solid lime !important;
}

.checkBox-warning{
  outline: 1px solid red;
}

.text-warning{
  color: red;
}




/*===============================================
GENERAL LAYOUT
================================================*/

/*VALID FOR LARGE SCREEN >1024px*/

/*----------------
Grid and Bar
-----------------*/

@media only screen and #{breakpoint(large)} {
  .pard-grid {
    width: $pard-grid-width;
    margin: 0 auto; 
    clear: both;
    *zoom: 1;
    }

  .pard-grid:after {
  clear: both;
  }
 
  .grid-spacing{
    width: $pard-grid-spacing;}

  .grid-section {
    width: $pard-section-width;
    min-height:75vh;
  }
  
}

@media only screen and #{breakpoint(medium)} {
  .grid-aside{
     width: $pard-aside-width;
  }

  .grid-spacing, .grid-section, .grid-aside{
    display: inline-block;
    vertical-align: top;
  }

  .displayNone-for-large {
      display: none;
  }

  .off-canvas-content{
    @include border-radius($layout-border-radius);
  }

  @include breakpoint(medium down){
    .grid-section{
      width: -moz-calc(100% - 12.5rem);
      width: -webkit-calc(100% - 12.5rem);
      width: calc(100% - 12.5rem);
      margin-left:0.5rem;
    }
  }
}


/*ALL SCREEN*/

.grid-element-content{
  width: 100%;
  background: $grey-1;
  padding: $inner-spacing;
  padding-bottom:2rem;
  min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;

}

.user-grid-element-content{
  width: 100%;
  background: $grey-1;
  min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;

}


.logoFooter{
  margin-right: 2rem;
  display: inline-block;
  /* cursor: pointer; */
  background-image: url(<%= image_path 'lettering_white_s.png' %>);
  width: 42px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.section-content{ 
  width: 100%;
  background: $content-background;
  padding-left:$inner-spacing;
  padding-right:$inner-spacing;
  padding-top:$inner-spacing;
  padding-bottom:2rem;
  @include border-radius($layout-border-radius);
  position:relative;
  /* margin-bottom: $pard-grid-spacing; */
}

.pard-header-container{
  position:relative;
  width: 100%;
   @include breakpoint(small down){
    position:fixed !important;
    padding-right:0.6rem;
    min-height: 5rem;
    background-color: $content-background;
    z-index: 2;
    top:0;
    left:0;
    padding-top:0.5rem;
    border-bottom:2px solid $grey-1;;
  }
}



/*FOR MEDIUM AND SMALL: TRANSITION WHEN SCREEN <= 1024px*/

/*--------------
off-canvas
-------------*/

.off-canvas-wrapper{
  overflow: hidden;
}

@media only screen and #{breakpoint(small down)} { 
  .off-canvas-content,
  .#{$maincontent-class}{
    box-shadow: 0 0 10px rgba($black, 0.5);
  } 
  .off-canvas-grid-aside {
  position: absolute;
  /* background: $content-background; */
  z-index: -1;
  max-height: 100%;
  overflow-y: auto;
  transform: translateX(0); }
  [data-whatinput='mouse'] .off-canvas-grid-aside {
    outline: 0; }
  .off-canvas-grid-aside.position-left-grid-aside {
    left: -$pard-aside-width;
    top: 0;
    width: $pard-aside-width; 
  }
    .is-open-left {
      transform: translateX($pard-aside-width); 
    }

  .displayNone-for-mediumDown{
    display:none;
  }
  .top-bar{
    min-height: 5rem;
  }
  .off-canvas-wrapper{
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}


/*====================
BUTTONS
======================*/



.pard-btn{
  background: $element-background;
  color: $element-color;
  @include border-radius($element-border-radius);
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
}

.pard-btn:hover{
    background: rgba(0,0,0,0.8);
  }
button{
   outline: none;
}

.submit-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
}

.submit-btn-container{
  min-height: 2rem;
  margin-bottom: -0.8rem;
  width: 100%;  
}


.recoveryPasswd-popup-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
  margin-top:-0.9rem;
  margin-left:1.5rem;
}

.signup-form-btn{
  @include horizontal-center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  position:relative;
  margin-top: 1rem;
}


.create-artist-btn-popup, .create-space-btn-popup, .create-organization-btn-popup{
    border: 2px solid $grey-2;
    cursor: pointer;    
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    vertical-align: top;
    @include breakpoint(medium){
      display: inline-block; 
      margin: 0rem 1.1rem; 
      width: 10rem;
    };
    p{
      font-size: $almostNormalSize;
    }
}

.create-artist-btn-popup:hover, .create-space-btn-popup:hover, .create-organization-btn-popup:hover{
      background-color: $grey-1;
    }

.create-profile-btn-text{
  /* margin-left:$inner-spacing; */
  font-weight: bold;
  display: block;
}

.create-profile-btn-icon{
  font-size: 1.8rem;
  font-weight: bold;
  vertical-align: bottom;
}

.login-btn{
  @extend .pard-btn;
  padding: 0.3rem 0.65rem;
  font-weight: 600;
  font-size: $almostNormalSize;
  @include breakpoint(small down){
    margin-right: 2rem;
  }
}

.signupButton, .signupButton-Outsider{
  color: $element-color;
  font-weight: bold;
  width: 100%;
  height: 3rem;
  @include border-radius($element-border-radius);
  background: $blue-pard;
}

.signupButton-eventLogin{
  color: $element-color;
  font-weight: bold;
  @include border-radius($element-border-radius);
  background: $blue-pard;
  margin-left: 1rem;
  vertical-align: 0.1rem;
  padding: 0.4rem 0.8rem;
}

/* .signUpButtonForSmall{
  color: $element-color;
  font-weight: bold;
  background: $blue-pard;
  @include border-radius($element-border-radius);
  position: absolute;
  right: $inner-spacing;
  top: $inner-spacing;
  font-size: $almostNormalSize;
  padding: 0.25rem 0.5rem;
  @include breakpoint(medium){
    display: none;
  }

} */

#register-outsider-header-button{
  color: $element-color;
  font-weight: bold;
  padding: 0.3rem 0.65rem;
  @include border-radius($element-border-radius);
  background: $blue-pard;
  font-size: $almostNormalSize;
  position:absolute;
  top: 0.2rem;
  right: -5rem;
}

.signupButton-container-Outsider{
  width: $pard-aside-width;
  z-index: 20;
  margin-bottom: -4.8rem;
  padding-bottom: $pard-grid-spacing;

}

.outer-signupButton-container-Outsider{
  z-index: 20;
  margin-bottom: 4.8rem;
}

.signupButton:hover, .signupButton-alert:hover, .signupButton-Outsider:hover, .signupButton-eventLogin:hover {
    background: rgba(56, 133, 255,0.8);
}

.signupButton-alert{
  color: $element-color;
  font-weight: 600;
  width:13rem;
  padding-top:1rem;
  padding-bottom:1rem;
  @include border-radius($element-border-radius);
  font-size: $almostNormalSize;
  background: $blue-pard;
  position: relative;
  margin: auto;
  display: block;
}

.signupButton-alert-container{
  width: 100%;
  display: block;
}

.signUp-button-welcome-section, .manage-call-btn{
  @extend .pard-btn;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.toUserPage-btn{
  height:3rem;
  width: 100%;
  font-weight: bold;
  font-size: $almostNormalSize;
}

.modify-section-content-button-container{
  position: absolute;
  top:0;
  right:0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 70px;
  border-right-width: 0px;
  border-top: 70px solid black;
  width:0;

}

.modify-content-button{
  position: absolute;
  top: -4px;
  right: -4px;
  width: 50px;
  height: 50px;
}

.add-multimedia-input-button, .add-multimedia-input-button-delete{
  position: relative;
  top: 0.4rem;
  left: 0.3rem;
  cursor: pointer;  
}

.add-multimedia-input-button{
  color: $grey-3;
}


.add-input-button-enlighted{
  color: black;
}

.links-accepted-caller{
  position: absolute;
  right: 2rem;
  font-size:$smallSize;
}

.manage-multimedia-btn{
  @include breakpoint(large){
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
  }
  font-size: $almostNormalSize;
  @include breakpoint(medium down){
    margin-top: $inner-spacing;
    margin-left: $inner-spacing;
  }
}

.send-post-data-btn{
  @extend .pard-btn;
  position: absolute;
  right:0;
  margin-top: -1rem;
  font-size: $smallSize;
}

.confirm-delete-btn, .cancel-delete-btn{
  font-size: $almostNormalSize;
  float: right;
  margin-right: 1rem;
}

.yes-no-button-container{
  width: 100%;
  min-height: 1.6rem;
  position:relative;
}

.browse-btn{
  @extend .pard-btn;
  padding:0.4rem 0.6rem;
  color: white;
  font-weight: bold;
  font-size: $smallSize; 
  display: inline-block;
  margin-bottom: 1rem;
}

.createOwnprofile-btn-icon{
  font-size: 1.5rem;
}

.plusSymbol-CreateOwnProfile{
  font-size: .9rem;
  margin-left: -.3rem;
}

.create-space-proposal-call-page-btn, .create-artist-proposal-call-page-btn{
  cursor: pointer;
  padding: 0;
  text-align: center;
  width: 3.2em;
  margin-left: 1.5rem;
  border: 1px solid $grey-2;
  display: inline-block;
  max-height: 1.7rem;
}

.create-space-proposal-call-page-btn:hover, .create-artist-proposal-call-page-btn:hover{
    background: $grey-1;
}

.iconButton-CallPage{
  @extend .pard-btn;
  padding: 0;
  height: 22px;
  width: 35px;
  color: white !important;
  text-align: center;
  .material-icons{
    font-size: 22px;
  }
}

.dowloadQR-btn{
  vertical-align: top;
  margin-left: 1rem;
}

.success-inscription-btn{
  display: inline-block;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}

.show-hide-btn-call-manager{
  position: absolute;
  right: -3px;
  bottom: -1rem;
  span{
    font-size: 1.4rem;
  }  
}

.show-hide-btn-call-manager:hover{
  color: rgba(0,0,0,0.8);
}

.submit-program-btn-call-manager{
  vertical-align: middle;
  height: 22px;
  width: 35px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0;
  .material-icons{
    font-size: 22px;
  }
  
}

.interaction-btn-event-page{
  width: 30%;
  display: inline-block;
  border: 2px solid #fff;
  background: black;
  height: 2rem;
  color: white;
  font-weight: bold;
}

.disabled-button{
  background-color: $grey-3 !important;
}

.buttons-noMapPopup button{
  margin-right: 2rem;
  font-size: 14px;
  margin-top: 0.5rem;
  @include breakpoint(medium){
    float: right;
  }
}

.buttons-noMapPopup{
  @include breakpoint(medium){
    height: 2rem;
  }
}

.goUpBtn-program-event-page{
  bottom: 2rem;
  font-size: 1.5rem;
  position: fixed;
  right: 15%;
  z-index: 999;
  color: rgba(0,0,0,0.5);
}

.OK-btn-reorderSpace-popup{
  font-size: $almostNormalSize;
  position: absolute;
  right: 0;
}

a.toEventPageBtn-profile-page{
  @extend .pard-btn;
  color: white;
  font-size: $smallSize;
  padding: 0.2rem 0.8rem;
  float: right;
  @include breakpoint(large){
    font-size: $almostNormalSize;
    padding: 0.2rem 1rem;
  }
  @include breakpoint(small down){
    margin-bottom: 1rem;
  }
}

a.toEventPageBtn-event-info-card{
  @extend .pard-btn;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 1.2rem;
}

.production-nav-element-container.production-btn-event-page{
  padding: 0.2rem 0.2rem;
  position: relative;
  width: 11.5rem;
  display: inline-block;
  height: 2.7rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  margin-right: 0.8rem;
  border: 1px solid $grey-2;
}

.production-nav-element-container.production-btn-event-page:hover{
  background: $grey-1;
  font-weight: bold;
  cursor: pointer;
}

.xbtn-production-event-page{
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: $almostNormalSize;
}

a.toEventPage-btn-callPage{
  display: inline-block;
  font-size: $almostNormalSize;
  margin-right: 2.5rem;
  text-decoration: underline;
}

a.navigation-btn-callPage{
  text-decoration: underline;
  font-size: $almostNormalSize;
}

.cancelBtn-modifyProposalForm{
  position: absolute;
  bottom: 1.5rem;
  right: 7.5rem;
  padding: 0.4rem 1.2rem;
  font-size: 0.875rem;
}


.chain-unchain-button{
  @extend .pard-btn;
  height: 22px;
  width: 35px;
  text-align: center;
  padding: 0;
  /* color: $blue-pard; */
  font-size: 1.1rem;
}



/*===============================================
COMPONENTS
================================================*/


/*-----------------
Profile Card
-------------------*/

.profileCard{
  /* box-shadow: 0px 1px 2px 1px rgba(10, 10, 10, 0.2); */
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(10, 10, 10, 0.2);
  display: block;
  line-height: 0;
  transition: box-shadow 200ms ease-out;
  color: rgba(10, 10, 10, 0.2);
  outline:none;
  background: white;
  @include border-radius($element-border-radius);
  position:relative;
  margin:0 auto;
  font-size: 12px;
  border: 1px solid rgba(10, 10, 10, 0.2);
  @include breakpoint(500){
    width: 174px;
    height: 14.25rem;
    /* padding: 3px; */
  }
  
  @include breakpoint(500 down) {
    width: 35vw;
    height: 44vw;
    padding: 1px;
    .circleProfile {
      height:5.65vw;
      width: 5.65vw;
      .material-icons{
        font-size: 4.5vw;
      }
    }
    .name-profileCard{
      font-size: 2.6vw;
      line-height: 2.5vw;
    }
    .locality-profileCard{
      font-size: 2.3vw;
    }
    .category-profileCard{
      font-size: 2.3vw;
    }
    .hline-profileCard{
      margin-top: 2.5% !important;
    }
  }
}

.profileCard.profileCard-hoverInherit:hover{
  /* 'box-shadow': '0 1px 3px 2px'+ profile.color */
  box-shadow: 0px 1px 3px 2px;
  color: inherit;
}


.profileCard:hover, .profileCard:focus {
    cursor:pointer; 
} 

.position-profileCard-login{
  position:relative;
  margin-top:0.9rem;
  margin-bottom: 1rem; 
  vertical-align: top;
  @include breakpoint(small down) {
  position:relative;
  }
}

.card-container{
  display: inline-block;
  padding: 0 1.046rem;
  vertical-align: top;
  @include breakpoint(410 down) {
    display: block;
    @include horizontal-center;
    position:relative;
  }
}

.card-container-popup{
  display: inline-block;
  margin: 1rem 0.6rem;
  vertical-align: top;
  @include breakpoint(410 down) {
    @include horizontal-center;
    display: block;
    position:relative;
  }
}

.photo-container-card{
  text-align: center;
  display: block;
  height: 48.5%;
  width: 100%;
  margin: 0 auto;
}

.circleProfile{
  /* @include pardCircle(2rem); */
  height: 14.3%;
  width: 18.84%;
  border-radius: 50%;
  webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.position-circleProfile-card {
  margin-top:-10%;
  @include horizontal-center;

}

.icon-profileCircle .material-icons{
  @include absolute-center;
  font-size: 1.5rem;
}

.name-profileCard{
  font-weight: bold;
  padding: 0 4px;
  @include breakpoint(medium){
    padding-left: 1px;
    padding-right:1px;
  }
  color: black;
  margin-top: 13%;
  text-align:center;
  width:100%;
  line-height: 100%;
  height: 15%;
  display: block;
}

.locality-profileCard{
  width:100%;
  display:block;
  text-align:center;
  color: $grey-4;
  padding: 8.3% 4px;
}


.category-profileCard{
  width: 100%;
  color: $grey-4;
  text-align: center; 
  display:block;
  padding: 8% 4px 6% 4px ;
  background-color:$grey-1;
}

.hline-profileCard{
  width: 88%;
  margin: 0;
  margin-left: 10px;
  margin-top: 4% !important;
  border-color:  $grey-2;
  @include breakpoint(medium down){
    width: 100%;
    margin: 0;
  }
}

.profileCard.carousel{
  height: 100%;
  width: 100%;
}

/*-----------------
Event Card
-------------------*/

.eventCard{
  position: relative;
  display: inline-block;
  width: 478px;
  height: 14.25rem;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
  @include border-radius($element-border-radius);
  border-left: 6px solid;
  .header-eventCard{
    padding: 8px 12px;
    position: relative;
    .baseline-eventCard{
      font-size: $almostNormalSize;
    }
    h6{
      margin: 0;
      font-weight: bold;
      display: inline-block;
    }
    .baseline-eventCard{
      margin-bottom: 9px;
    }
  }
  .imgContainer-eventCard{
    margin-left: 12px;
    margin-bottom: 9px;
    vertical-align: top;
    width: 122px;
    height: 172px;
    display: inline-block;
    border: 1px solid $grey-3;
    text-align: center;
    img{
      cursor: pointer;
    }
  }
  .info-eventCard{
    height: 172px;
    margin-bottom: 9px;
    width: 334px;
    display: inline-block;
    padding-left:12px;
    font-size: $smallSize;
    line-height: 0.9rem;
    vertical-align: middle;
    .material-icons{
      vertical-align: middle;
    }
    .info-element-eventCard{
      height: 30px;
      margin-top: 4.5px;
    }
    .icon-container{
      text-align: center;
      display: inline-block;
      width: 24px;
      vertical-align: middle;
      color: $grey-3;
      .fa{
        font-size: 1.1rem;
      }
    }
    .text-container{
      display: inline-block;
      vertical-align: middle;
      width: -moz-calc(100% - 24px);
      width: -webkit-calc(100% - 24px);
      width: calc(100% - 24px);
      padding-left: 10px;
    }
  }
  .footer-eventCard{
    position: relative;
    padding: 0 12px;
    font-size: $smallSize;
    line-height: 0.9rem;
    background: $grey-1;
    height: 36px;
    border-radius: 0 0 5px 5px;
    p{
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  p {
    margin: 0;
    line-height: 0.9rem;
  }
  .btn-container{
    position: absolute;
    right: 13px;
    top: 6px;
    a{
      color: $grey-2;
    }
    a:hover{
      color: rgba(222,222,222,.8);
    }
  }
  @include breakpoint(750px down){
    width: 100%;
    height: auto;
    .header-eventCard{
      /* display: inline-block; */
      /* width: 60%; */
      /* padding: 10vw 4% 0 4%; */
    }
    .imgContainer-eventCard{
      width: 32%;
      height: auto;
      margin: 10px 0 10px 4%;
    }
    .info-eventCard{
      width: 60%;
      margin-top: 0.5rem;
      height: auto;
      .info-element-eventCard{
        height: auto;
        margin-bottom: 6px;
        margin-top: 0;
      }
    }
    .footer-eventCard{
      height: auto;
      p{
        padding: 10px;
        position: relative;
        top: none;
        transform: none;
      }
    }
  }
}

.circle-eventOrganizer{
  @include border-radius(50%);
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.outer-eventCard-container-userPage{
  @include breakpoint(750px up){
    position: relative;
    height: 14.25rem;
    width: 100%;
    .eventCard-container-userPage{
      @include horizontal-center;
    }
  }
  margin: 1.5rem 0 3rem 0;
}

.outer-eventCard-container-welcomePage{
  display: inline-block;
  @include breakpoint(750px up){
    position: relative;
    height: 14.25rem;
    /* width: 100%; */
  }
  .eventCard-container-welcomePage{
    display: inline-block;
  }
  margin: 1rem 0.9rem;
}


.manageCallBtn-eventCard{
  position: absolute;
  top:0;
  right:0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 50px;
  border-right-width: 0px;
  border-top: 50px solid rgba(222, 222, 222, 0.33);
  width:0;
}

.manageCallIcon{
  position: relative;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  display: inline-block;
  .callIcon{
    font-size: 60%;
    position: absolute;
    left: 90%;
  }
  .toolsIcon{
    font-size: 120%;
    position: absolute;
  }
}


/*-----------------
newsCard
-------------------*/

.newsCard{
  width: 220px;
  height: 258px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.imgContainer-newsCard{
  width: 100%;
  height: 135px;
  cursor: pointer;
  /* background: $grey-2; */
  /* border: 1px solid $grey-2; */
}

.text-newsCard::after {
    content: "";
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(56%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 56%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.infoContainer-newCard{
  width: 100%;
  height: 96px;
  margin-bottom: 0.3rem;
  overflow: hidden;
  position: relative;
  p{
    margin: 0;
  }
  .title-newsCard{
    padding-top: 0.5rem;
    /* margin-bottom: 0.15rem; */
    font-weight: bold;
    cursor: pointer;
  }
  .title-newsCard:hover{
    text-decoration: underline;
  }
  .text-newsCard{
    font-size: $smallSize;
    /* height: 39px; */
  }
}

.dots-info-newsCard{
  position: absolute;
  color: $blue-pard;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.date-newsCard{
  font-size: $smallSize;
  color: $grey-4;
  display: inline-block;
  position: absolute;
  right: 0;
  top: .2rem;
}

.imagePopup-cardNews{
  height: auto;
  margin-bottom: 1rem;
}

.title-popup-cardNews{
  font-weight: bold;
  margin-bottom: 1rem;
}

.popupDate-newsCard{
  color: $grey-4;
  display: inline-block;
  position: absolute;
  right: 0;
}

.rfhLogo-news{
  background-image: url(<%= image_path 'logo_black_m.png' %>);
  width: 12px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include horizontal-center;
  top: 5px;
}

.rfhLogo-newsPopup{
  background-image: url(<%= image_path 'logo_black_m.png' %>);
  width: 15px;
  height: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include horizontal-center;
  top: 5px;
}

.icon-whoNews{
  position: relative;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: .5rem;
  display: inline-block;
}

.whoCircle-news{
  @include pardCircle(20px);
  border: 1px solid $grey-4;
  position: relative;
}

.whoCircle-newsPopup{
  @include pardCircle(25px);
  display: inline-block;
  border: 1px solid $grey-4;
  position: relative;
  vertical-align: middle;
  margin-right: .5rem;
}

.publisherName-newsCard{
  font-size: $smallSize;
  vertical-align: middle;
}

.publisher-newsCard{
  display: inline-block;
  width: 60%;
}

/*-----------------
Dropdown
-------------------*/

.is-dropdown-submenu-item:hover{
  background: $grey-1;
}

.is-dropdown-submenu-item{
  font-size:$almostNormalSize;
}


.is-dropdown-submenu-item a, .is-dropdown-submenu-item a:hover{
  color: black;
  text-decoration: none;
}

ul.dropdownMenu{
  margin: 0;
  list-style-type: none;
  font-size: $almostNormalSize;
  padding: 0;
  li{
    display: block !important;
    a, button{
      color: black;
      padding: 0.7rem 1rem;
      line-height: 1;
      width: 100%;
      display: block
    }
  }
  li:hover{
    background-color: $grey-1;
  }
}

.iconDropdown-clicked{
  color: $grey-4 !important;
}

.black .iconDropdown-clicked{
  color: $grey-3 !important;
}

.container-insideMenu{
  padding:  0;
  width: 15rem;
  left: -10.5rem !important;
  top: 2rem !important;
}

.eventMananagerChoice{
  background-color: #fefefe;
  border: 1px solid #cacaca;
  /* border-radius: 0.125rem; */
  display: block;
  font-size: $almostNormalSize;
  /* padding: 1rem; */
  position: absolute;
  visibility: hidden;
  width: 7rem;
  z-index: 10;
  right: 0;
  ul{
    margin-left: 0;
  }
  li a{
    padding: .4rem !important;
  }
  .manageCallIcon{ 
    font-size: 11px;
    margin-right: .4rem;
    vertical-align: middle;
    .callIcon {
      left: 60%;
    }
  }
  .eventIcon{
    font-size: 14px;
    margin-right: .5rem;
  }
}

.showEventManagerChoice{
  visibility: visible !important;
}

/*==============================================
HEADER
===============================================*/

.orfheoHeader{
  position:static !important;
  width: 100%;
  top: 0;
  margin: auto;
  font-size: $almostNormalSize;
  z-index: 3;
}
.black{
  background-color: black;
}
.fixed{
  position: fixed;
}

.upperContainerHeader{
  width: 100vw;
  height: 3rem;
  z-index: 2;
  top:0;
  .black{
    @include breakpoint(medium down){
    padding: 0px 0.5rem;
    }
  }
}

.containerHeader{
  width: 984px;
  height: 100%;
  @include horizontal-center; 
}

.contentHeader{
  position: relative;
}

.navBarHeader{
  height: 6rem;
  position: relative;
  width: 100vw;
  padding-top: 2.8rem;
  z-index:1;
  @include breakpoint(small down){
    position: fixed;
    top: 0;
  }
}

.navBarContainer{
  height: 1.7rem;
}

.fixedNavBar{
  position: fixed;
  top: 0;
/*   height: 0rem;
  overflow: hidden; */
}

/* .showNavBar{
  position: fixed;
  top: 0;
  height: 5.5rem;
  overflow: hidden;
}
 */
.logoBtn-navHeader{
  display: inline-block;
  @include horizontal-center;
  margin-top: 0.8rem;
  position: relative;
  z-index:2;
  button{
    margin: 0;
  }
}

.showNavMenu-header{
  color: white;
  @include horizontal-center;
  top: 3rem;
  z-index:2;
  .material-icons{
    font-size: 19px;
  }
}

.hideNavMenu-header{
  color: white;
  @include horizontal-center;
  top: -.4rem;
  .material-icons{
    font-size: 19px;
  }
}


.logo-header{
  cursor: pointer;
  /* background-image: url(<%= image_path 'lettering_black_xxl.png' %>); */
  width: 34px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include breakpoint(small down){ 
    width: 30px;
    height: 20px;
    margin-bottom:0.6rem;
  }
}

.black .logo-header{
  background-image: url(<%= image_path 'logo_white_m.png' %>);
}

.semiCircleHeaderTop, .semiCircleHeaderBottom{
  background: black;
  @include border-radius(50%);
  width: 59px;
  height: 59px;
  @include horizontal-center;
  
}

.semiCircleHeaderTop{
  top: 4px;
  position: relative;
  z-index: 2;
}

.semiCircleHeaderBottom{
  bottom: -1px;
}

.semiCircleHeaderTop-container{
  width: 100vw;
  top: -5px;
  z-index: 1;
}

.semicirclePositionRelative{
  position: relative;
  margin-top: -48px;
  /* margin-bottom: -3.2rem; */
}

.semiCircleHeaderBottom-container{
  height: .55rem;
  position: relative;
  width: 100vw;
}

.container-loginNavHeader{
  width: 17rem !important;;
  height: 13.5rem !important;;
  top: 2rem !important;
  left: -220px !important;
  padding: 0;
  form{
    margin: 0;
    @include horizontal-center;
    top: 2rem;
    input{
      margin-bottom: 1rem;
    }
  }
  @include breakpoint(small down){
    left: -280px !important;
  }
}

.loginContainer{
  position: absolute;
  right: 0;
  top: 0.75rem;
  z-index: 2;
  .loginText{
    color: black;
    display: inline-block;
    vertical-align: -.4rem;
    margin-right: 1rem;
    @include breakpoint (small down){
      position: absolute;
      top: -0.2rem;
      right: 4rem;
      width: 3.5rem;
      margin: 0;
    }
  }
  .loginText:hover{
    color: rgba(0,0,0,.8);
    /* color: $grey-2; */
  }
  .signUp-welcomePage{
    vertical-align: middle;
    display: inline-block;
  }
  .arrowLoginDropdown{
    font-size: 22px;
    margin-left: -0.2rem;
    vertical-align: -.5rem;
  }
}

.black .loginText{
  color: white;
}
.black .loginText:hover{
  color: $grey-2;
}


.navMenuHeader{
  margin: 0;
  li{
    display: inline-block;
    text-transform: capitalize;
    margin: 0 1rem;
    text-align: center;
    @include breakpoint (small down){
      margin: 0 .5rem;
    }
    a, button{
      color: white;
    }
    a:hover, button:hover{
      color: $grey-2;
    }
  }
  .selected, .selected:hover{
    a, button{
      color: $grey-3;
      /* cursor: default; */
    }
  }
}

.navMenuHeader-container{
  @include horizontal-center;
  z-index: 1;
  @include breakpoint(small down){
    width: 100%;
    text-align: center;
  }
}

.signUpBtn-container{
  width: 100%;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
}

.signUpHeader-welcomePage{
  color: $element-color;
  font-weight: bold;
  @include border-radius($element-border-radius);
  background: $blue-pard;
  /* padding: 0.4rem 1.8rem; */
  padding: 0.3rem 0.8rem;
  vertical-align: middle;
  @include breakpoint(small down){
    position: absolute;
    right: 0;
    top: -.4rem;
    font-size: $almostNormalSize;
    padding: 0.2rem 0.5rem;  
  }
}

.signUpHeader-welcomePage:hover{
  background: rgb(44, 106, 204); 
  /* rgba(56, 133, 255,0.8); */
}

.loginText-welcomePage{
  width: 100%;
  text-align: center;
  display: inline-block;
}

.login-container{
  position: relative;
  width: 240px;
  margin-top: 2.5rem;
  z-index: 2;
  input.input-login-field{
    width: 100%;
    display: block;
    font-size: $almostNormalSize;
    height: 30px;
  }
  .login-btn{
    float: right;
    padding: 0.35rem 1.8rem;
  }
  .passwdRecovery{
    /* margin-top: 1rem; */
    float: none;
    text-align: center;
    display: inline-block;
    width: 80%;
    border-top: 1px solid $grey-2;
    padding: 0.5rem;
    margin-top: 0.1rem;
    margin-left: 1.5rem;
  }
  .rememberMe-ckb label{
    /* font-size: $almostNormalSize; */
  }
}

.makeCallBtn{
  /* background: #333333;
  @include border-radius($element-border-radius);
  padding: .3rem .8rem;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  left: 0rem;
  top: .8rem;
  position: absolute; */
  left: 0rem;
  top: 1.15rem;
  position: absolute;
  display: inline-block;
  /* color:  white; */
}

a.makeCallBtn:hover{
  /* color: #212121; */
}

.dropdownHeaderMenu{
  margin: 0;
  width: 100%;
  li{
    width: 100%;
  }
  .separator{
    width: 95%;
    border-bottom: 1px solid $grey-1;
    margin: 0 auto;
  }
  .circleProfile-MenuHeader{
    @include border-radius(50%);
    width: .6rem;
    height: .6rem;
    margin-right: .5rem;
    display: inline-block;
    vertical-align: middle;
  }
}


/* --------------
login
-------------- */

@media only screen and #{breakpoint(small down)} { 
  .block-for-medium {
    display: block;
    width: 100%;
  }
  .login-bar, .user-bar{
    width: 100%;
    background: $content-background;
  }
  .menu-icon-header{
    margin-left:0.5rem;
  }
  header .menu-icon{
    position: absolute;
    top: 1.1rem;
    z-index: 3;
  }
}


.top-bar-right .input-login{
  float: right; 
} 

.input-login {
 @include breakpoint(small down){
    display: block;
    padding-top: 0.5rem;
    .input-login-field {
      margin-bottom: 0.1rem;
    }
  }
  @include breakpoint(medium){
    .input-login-field, .input-loginEvent-field {
      display:inline-block;
      margin-right:0.4rem;
    }
  }
  @include breakpoint(large){
    margin-right:-0.75rem;
  }  
  .input-login-field{
    height: auto;
    font-size: $smallSize;
    width: 180px;
    padding: 0.3rem
  }
  .input-loginEvent-field{
    height: auto;
    font-size: $almostNormalSize;
    width: 14rem;
    padding: 0.3rem
  }
}

.dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
    top: 100%;
    left: auto;
    right: 0;
    z-index: 10;
}

.space-column-header .dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
    top: 100%;
    left: auto;
    right: 0.3rem;
    z-index: 10;
}



.rememberMe-ckb input{
  width:auto;
  margin-right:0;
  margin-top: 0.2rem;
}

.rememberMe-ckb{
  @include breakpoint(small down){
    float: right;
  }
}

.passwdRecovery{
  @include breakpoint(small down){
    display: block;
    margin-top: 0.2rem;
    white-space: nowrap;
  }
}

.rememberMe-ckb {
  @include breakpoint(medium){
    width: 10rem;
    display: block;
    margin-left: 0.1rem;
  }
}

.passwdRecovery, .rememberMe-ckb label{
   font-size: $smallSize;
}

.passwdRecovery{
  @include breakpoint(medium){
    float: right;
    margin-top: -1.3rem;
    margin-right: 5rem;
  } 
}

.passwdRecovery-eventLogin{
  font-size: $smallSize;
  @include breakpoint(medium){
    float: right;
    margin-top: -0.8rem;
    margin-right: 13rem;
  } 
  @include breakpoint(small down){
    display: block;
    margin-top: 0.2rem;
    white-space: nowrap;
  }
}



/* --------------
inside header
---------------
 */

.right-user-header-content{
  display: inline-block;
  position: absolute;
  @include breakpoint(large){
    margin-right: -1.5rem;
  }
  right:0;
}

.left-user-header-content{
  left:0;
  display: inline-block;
  position: absolute;
  @include breakpoint(large){
    margin-left:-0.5rem;
  }
  cursor: pointer;
  @include breakpoint(small down){
    margin-left: 0.5rem;
  }

}

.top-header-content{
  display: block;
  width: 100%;
  @include breakpoint(medium){
    min-height: 3.5rem;
  }
  @include breakpoint(small down){
    min-height: 2.3rem;
  }
}

.settings-icon-dropdown-menu{
  color: black;
  .material-icons{
    font-size: 2.1rem;
    margin-right: -0.6rem;
  }
  padding:0;
}

.settings-icon-dropdown-menu:hover{
  color: rgba(0,0,0,0.8);
}

.black{
  .settings-icon-dropdown-menu{
    color: white;
  }
  .settings-icon-dropdown-menu:hover{
    color: $grey-2;
  }
}



.rightContent-insideNavMenu{
  position: absolute;
  right: 0;
  top: .7rem;
  z-index: 2;
  .rightMenu-navHeader{
    margin: 0;
    li{
      display: inline-block;
    }
    @include breakpoint (medium down){
      margin-right: .5rem;
    }
  }
  .initText{
    text-align: center;
    margin-right: .2rem;
    padding-right: .8rem;
    border-right: 1px solid $grey-1;
    vertical-align: 0.7rem;
    height: 1.2rem;
    a{
      color: black;
    }
  }
  .initText:hover{
    a{
      color: rgba(0,0,0,.8);
    }
  }
}

.black .initText {
  border-color: $grey-4;
  a{
  color: white;
  }
}

.black .initText:hover{
 a{
    color: $grey-2
  }
}

/*==============================================
MAIN
===============================================*/


.outsider-main{
  margin-top: 3rem;
  .section-content{
    margin-bottom: $pard-grid-spacing;
  }
}


.inside-main{
  margin-top: -.7rem;
}

/*==============================================
FOOTER
===============================================*/

.footer-bar{
  width: 100%;
  background: $content-background;
  z-index: 1;
  position:relative;
  background: black;
  color: $grey-2;
  bottom:0;
  font-size: $smallSize;
  @include breakpoint(medium) {  
    height:1.8rem;
  }
  box-shadow: 0 0 2px black;
  @include breakpoint(small down) {  
    padding: 0.2rem 0.5rem;
  }
}

.pard-container-relative{
  position:relative;
  width: 100%;
  @include breakpoint(medium) {  
    height:1.8rem;
  }
  padding-top:0.3rem;
  @include breakpoint(small down){
    min-height: 5.5rem;
  }
}

.footer-left{
  left:0;
  display: inline-block;
  position: absolute;
  ul{
    display: inline-block;
  }
  @include breakpoint(small down){
    bottom: 1px;
    width: 45%;
    text-align: left;
    .leftFooter-menu{
      li{
        display: block;
      }
    }
  }
}
.footer-right{
  display: inline-block;
  position: absolute;
  right:0;
  @include breakpoint(small down){
    top: 5px;
    padding-bottom: 2px;
    width: 45%;
    text-align: right;
    .rightFooter-menu{
      font-size: $smallSize;
      li{
        display: block;
      }
    }
  }
}

.rightFooter-menu{
  font-size: $smallSize;
  margin: 0;
  display: inline-block;
  li{
    display: inline-block;
    margin-left: 2rem;
    color: $blue-pard;
  }
  li button:hover{
    color: rgb(44, 106, 204);
  }
}

.leftFooter-menu{
  margin: 0;
  li{
    display: inline-block;
    margin-right: 2rem;
  }
}

button.footer-text-link {
  color: white;
  cursor: pointer;
}


button.footer-text-link:hover{
  color: white;
  text-decoration: underline;
}



@media only screen and #{breakpoint(medium)} {

.footer-outsider{
  position:fixed;
}

}


.valencian-flag, .italian-flag, .english-flag{
  width: 1.5rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  margin-right: 1rem;
}

.valencian-flag{
  background-image: url(<%= image_path 'valencian_flag.png' %>);
}

.italian-flag{
  background-image: url(<%= image_path 'italian_flag.jpeg' %>);
}

.english-flag{
  background-image: url(<%= image_path 'english_flag.png' %>);
}

.title-project-info{
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.part2-message-project-info ul{
  margin-top: -0.5rem; 
}

.subtitle-project-info{
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.conditions-lastModify {
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.conditions-par{
  margin-bottom: 1.5rem;
}

.orfheo-web-popup{
  text-align: center;  
  margin-bottom: 4rem;
}

.orfheo-baseline-popup{
  text-align: center;  
  margin-bottom: 4rem;
  margin-top: -1rem;
}

.logoOrfheo-contactInfo{
  background-image: url(<%= image_path 'lettering_white_xl.png' %>);
  width: 112px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include horizontal-center;
  position: relative;
  margin: .3rem 0 1.2rem 0;
}

.header-contactInfo{
  width: 100%;
  min-height: 7rem;
  background-color: $blue-pard;
  position: relative;
  padding: 1rem;
  border-radius: 0.125rem 0.125rem 0rem 0rem;
}

.textHeader-contactPopup{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-top: -1.2rem;
  font-size: $smallSize;
  color: white;
}

.fullWidth{
  width: 100vw !important;
}

.menu-centered{
  color: white;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: .9rem;
  margin-bottom: -.9rem;
  li{
    margin: 0 0.2rem;
    display: inline-block;
    cursor: pointer;
    min-width: 122px;
    text-align: center;
    @include breakpoint(small down){
     font-size: $almostNormalSize;
     /* min-width: 0; */
    }
  }
  .selected, li:hover{
    font-weight: bold;
  }
}

.contactInfo-popup-bigalert{
  width: 90vw;
  max-width: 48rem !important;
  padding: 0 !important;
  color: $grey-4;
  min-height: 39.3rem;
  .close-button{
    color: $grey-3;
  }
  .close-button:hover {
    color: $grey-4;
  }
  h5{
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    font-weight: bold;
  }
}

.tecnicalSupport-contactInfo, .colaboration-contactInfo, .services-contactInfo, .contact-contactInfo, .feedback-contactInfo{
  padding: 1rem;
  font-size: $almostNormalSize;
  border-radius: 0.125rem 0.125rem 0rem 0rem;
  .half-col{
    padding: 1rem;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    @include breakpoint(small down){
      width: 100%;
      display: block;
    }
  }
  .submit-button{
    position: absolute;
    right: 0;
    top: 0;
    background: $green-pard;
    margin-left: 1rem;
  }
  .list-col{
    ul{
      line-height: 1.2rem;
      li{
        margin-bottom: 0.5rem;
      }
    }
  }
 .availabilityContainer{
    margin-bottom: .5rem;
    button{
      font-size: $almostNormalSize;
      /* height: 2rem; */
      @include border-radius($element-border-radius);
    }
  }
  .checkBox-contactForm{
    margin: .4rem 0;
  }
  input, textarea{
    font-size: $almostNormalSize;
    height: auto;
    margin-bottom: 0.5rem;
  }
}

.eventContactPopup{
  .submit-button{
    float:  right;
    background: $green-pard;
    margin-left: 1rem;
  }
  .contactForm-container{
    margin-top: 1.5rem;
    @include horizontal-center;
    position: relative;
    @include breakpoint(large){
      width: 70%;
    }
    input, textarea, .availabilityContainer{
      font-size: $almostNormalSize;
      height: auto;
      margin-bottom: .5rem;
    }
  }
  .availabilityContainer{
    margin: .4rem 0 1rem 0;
    button{
      @include border-radius($element-border-radius)
    }
  }
}

/*==============================================
FORMS
===============================================*/


select, textarea, a{
    @include border-radius($element-border-radius);
    outline: none !important;
}

select:-moz-focusring { color: transparent;
                        text-shadow: 0 0 0 #000; }

.TextAreaEnrichedContainer{
  .trumbowyg-box{
    min-height: 11rem;
    margin: 0;
  }
  .trumbowyg-editor{
    font-size: $almostNormalSize;
    min-height: 11rem;
    padding: .5rem;
    p{
      line-height: 1.2rem;
      margin-bottom: 0.6rem;
    }
  }
}

.popup-form button {
  outline: none;
}

.popup-form input, .popup-form textarea, .popup-form select{
    @include border-radius($element-border-radius);
    height: auto;
    font-size: $almostNormalSize;
    margin:  0 0 0rem;
}

.help-text{
  line-height: 0.9rem;
  margin: 0rem;
  margin-top: 0.3rem;
}


.description-input, .needs-input, .sharing-input{
  line-height: 1.2rem;
}

.short_description-input{
  line-height: 1.2rem;
  min-height: 0 !important;
  height: 2.2rem !important;
  overflow-y: hidden;
}


.error-text, .not-filled-text{
  color: red;
  font-size: $almostNormalSize;
  min-height: 1.5rem;
}

.contactForm-container{
  p{
    margin-bottom: 0;
  }
  .error-text{
    display: inline-block;
  }
}


.half-col .error-text{
  vertical-align: -2rem;
}

.error-multimedia-text{
  color: red;
  font-size: $almostNormalSize;
  margin-bottom: 0;
}

.not-filled-text{
  margin-bottom: -0.5rem;
}

.photo-form{
  margin-bottom: 1rem;
  margin-left:1rem;
}

.message-form{
  margin-bottom: 1.5rem;
}

.init-message-form{
  margin-bottom: 2rem;
}

/*LARGE*/

.geocod-container-adrees-imput{
  display: inline-block;
  width: 13rem;
  margin-left: 2rem;
  vertical-align: top;
}

.map-inputAddressWidgets{
  width: 100%;
  height: 13rem;
  margin-bottom: 1rem;  
  @include breakpoint(large){
    width: 21rem;
    display: inline-block;
  }
}

.call-form-field{
  margin: 2rem 0;
}

@media only screen and #{breakpoint(large)} {

  .locality-ArtistForm{
    width: 13rem;
    display: inline-block;
    margin-right: .5rem;   
  }

  .postal_code-ArtistForm{
    width: 10rem;
    display: inline-block;
    margin-right: .5rem;     
  }

  .neighborhood-ArtistForm{
    width: 13rem;
    display: inline-block;
/*     margin-right: .5rem;   
 */  }

  .popup-form .route-addressForm, .popup-form .street_number-addressForm,.popup-form .door-addressForm, .multiMedia {
    font-size: $smallSize;
    margin-bottom: 0.5rem;
    display: inline-block; 
  }

  .popup-form .postal_code-addressForm {
    font-size: $smallSize;
    display: inline-block; 
  }

  .popup-form .route-addressForm{
    width: 17rem;
  }

  .popup-form .street_number-addressForm, .popup-form .door-addressForm{
    width: 5rem;
    margin-left:1rem;
  }

  .popup-form .locality-addressForm{
    width: 13rem;
    font-size: $smallSize;
    display: inline-block; 
  }

  .popup-form .country-addressForm{
    width: 13rem;
    margin-left:1rem;
    display: inline-block;
    font-size: $smallSize;
  }

  .popup-form .postal_code-addressForm{
    width: 8rem;
    margin-left:1rem;
  }

  .modifyProfilePopup .name-FormDiv{
    @include breakpoint (large){
      width: 17rem;
      display: inline-block;
      vertical-align: top;
      margin-top:1rem;
      margin-bottom: 0;
    }
  }

  .createProfilePopup-artist .name-FormDiv{
    @include breakpoint (large){
      width: 17rem;
      display: inline-block;
      vertical-align: top;
      margin-top:2rem;
      margin-bottom: 0;
    }
  }

  .createProfilePopup-organization .name-FormDiv{
    @include breakpoint (large){
      width: 100%;
      margin-top:2rem;
      margin-bottom: 0;
    }
  }
  .modifyProfilePopup .photoContainer{
    @include breakpoint (large){
      display: inline-block;
      margin-left: 2rem;
      margin-left: 6rem;
      margin-top: 1rem;
    }
  }

  .createProfilePopup-artist .photoContainer{
    @include breakpoint (large){
      display: inline-block;
      margin-left: 2rem;
      margin-left: 6rem;
      margin-top: 2rem;
    }
  }

  .createProfilePopup-organization .photoContainer{
    /* @include breakpoint (large){
      display: inline-block;
      margin-left: 2rem;
      margin-left: 6rem;
      margin-top: 2rem;
    } */
  }

  .m-artistCall{
    font-size: 14px;
    float: right;
    padding: 0 1rem;
    color: $grey-4;
  }

  .message-call{
    height: 1rem;
    position: relative;
    margin: 1rem 0 0 0;
  }

}

.profilePhoto-modifyProfile{
  @include breakpoint (medium down){
   margin-bottom:1rem;
  }
}

.MultipleSelector-FormField select, .MultipleDaysSelector-FormField select{
  width: 100% !important;
  outline: none !important;
}

.MultipleSelector-FormField .ms-choice, .MultipleDaysSelector-FormField .ms-choice{
    @include border-radius($element-border-radius);
    font-size: $almostNormalSize;
    width: 100%;
    height: 34px;
    span{
      padding: 4px 8px;
    }
    div{
      top:  4px;
    }
}

.MultipleSelector-FormField .ms-parent, .MultipleDaysSelector-FormField .ms-parent{
    width: 100% !important;
}

.deleteProfile-caller{
  font-size: $smallSize;
}

.ms-parent{
  width: 100% !important;
} 

/*==============================================
POPUP
===============================================*/

body.is-reveal-open{
   overflow: visible;
}

.overflowHidden{
  overflow: hidden !important;
}
 
.popup-header{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.popup-content{
  margin-bottom: 2rem; 
}

.full{
  background: rgba(0,0,0,0.6);
  overflow-x:hidden;
  width: 100vw !important;
  top: -100px !important;
  position: fixed;
  left: 0;
}

.popup-container-full,.alert-container-full{
  position: relative;
  margin: 0 auto;
  clear: both;
  background: $content-background;
  display: block;
  padding: 1rem 1.5rem 0.01rem 1.5rem;
  @include border-radius($layout-border-radius);
}

.popup-container-full{
    max-width: 40rem; //640px
    margin-bottom: 0.6rem;
    @include breakpoint(small down){
      margin-right: 2rem;
      margin-bottom: 50vh;
    }
}

.alert-container-full{
    max-width: 22rem; //352px
    margin-bottom: 0.6rem;
}


.top-position .popup-container-full, .top-position .alert-container-full{
  margin-bottom: 50%;
}

@media only screen and (max-width : 400px) {
  .alert-container-full{
    margin-right: 2rem;
  }
  .signupButton-alert{
    width:10rem;
  }
}

.popup-photo-container{
  display: block;
  position: relative;
  margin: 0 auto;
  clear: both;
  max-width: 750px;
  @include breakpoint(750px down){
    margin-right: 2rem;
  }
}

.vcenter-outer{
  display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}

.vcenter-inner{
  display: table-cell;
  vertical-align: middle;
}

.space-program-popup-call-manager{
  width: 1024px;
  background: white;
  @include horizontal-center;
  padding: 1.5rem;
  padding-bottom: 0rem;
  @include border-radius($layout-border-radius);
  top:2rem;
}

.popup-container-full .event-form-popup{
  min-height: 100vh;
  background-color: transparent;
}

.multimedia-popup-bigalert{
  width: 90vw;
  max-width: 48rem;
  padding: 0.5rem;
  .video-production-container{
    text-align: center;
  }
  .single-video-container iframe{
    width: 640px !important;
    height: 360px !important;
    @include breakpoint (medium down){
      width: 100% !important;
      height: auto !important;
    }
  }
}


/*==============================================
ICONS
===============================================*/

.icon-book-open, .icon-theatre{
  font-size: 1.3rem;  
}

.reorderIcon{
  .sortIcon{
    font-size: .8rem;
    vertical-align: middle;
    margin-left: 0.1rem;
  }
  .timeIcon{
    font-size: 1.2rem;
    vertical-align: middle;
  }
}

/*==============================================
SEARCH // SELECT2
===============================================*/

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  margin-top: 4px ;
  border: none;
  padding: 4px 9px;
  font-size: $almostNormalSize;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  margin-right: 6px;
}

.select2-results__message {
  display: none !important;
}

.select2-container {
  max-width: 100%;
  min-width:100%;
  }

.select2-container .select2-selection--multiple{
  border-radius: $element-border-radius;
}

.select2-selection.select2-selection--multiple{
  font-size: 1rem;
  min-height: 2.45rem; 
  max-height: 5rem;
  overflow-y: auto;
}

.select2-container .select2-selection--multiple .select2-selection__rendered{
  display: block;
}


.select2-search.select2-search--inline input{
  height: auto;
  margin:0;
}

.select2-selection__rendered li{
  padding-top: 5px;
}

li.select2-selection__choice{
  margin-top: 4px;
  margin-bottom: 4px;
}

.search-input{
  @include breakpoint(large){ 
    width: 100%;
    padding-left:3.8rem;
    padding-right: 3.8rem;
  }
}

input.select2-search__field{
  width: 100% !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;;
}

span.select2-container--default .select2-selection--single{
  height: 2.1rem;
  @include border-radius($element-border-radius);
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 2rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 2.1rem;
}


/*===============================================
COLOR PICKER
================================================*/

.sp-dd{
  display: none;
}

.sp-preview{
  width: 100%;
  height: 1.5rem;
}

.sp-replacer{
  width: 100%;
  margin-bottom: 1rem;
}



/*===============================================
IMAGES
================================================*/

.orfheo-symbol-popup{
  background-image: url(<%= image_path 'logo_black_xl.png' %>);
  width: 100px;
  height: 69px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include horizontal-center;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;

}


.orfheo-symbol-image-searchEngine{
  background-image: url(<%= image_path 'logo_black_m.png' %>);
  width: 90px;
  height: 61px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include horizontal-center;
  position: relative;
  margin-bottom: 1.5rem;
  /* margin-top: -2rem; */
}

table.dataTable thead .sorting_asc {
    background-image: url(<%= image_path 'sort_asc.png' %>);
}
table.dataTable thead .sorting_desc {
    background-image: url(<%= image_path 'sort_desc.png' %>);
}
table.dataTable thead .sorting {
    background-image: url(<%= image_path 'sort_both.png' %>);
}

.cursor_grab{
  cursor: -webkit-grab !important;; 
  cursor:-moz-grab !important;;
  cursor: grab !important;
}

.cursor_move{
  cursor: move !important;
}

.position-fixed{
  position: fixed !important;
}

/*====================================== 
TOOLTIP 
========================================*/

.orfheo-tooltip{
  @include border-radius($element-border-radius);
  background: black;
  color:  white;
  border: none;
  box-shadow: none;
  font-size: $smallSize;
  padding: 0.2rem 0.5rem;
  margin-top: 0;
  position: fixed;
  z-index: 9999;
}



.coockies-callout{
  background-color: rgba(222, 222, 222, 0.9);
  padding: 0.1rem 2.5rem;
  position: fixed;
  z-index: 3;
  bottom: 0;
  font-size: $almostNormalSize;
  width: 100%;
  p{
    margin: 0;
    line-height: 1.4rem;
  }
  .closeBtn-coockies-callout{
    margin: 0rem 0px 0px 1.5rem;
    float: right;
    position: relative;
    color: $grey-4;
  }
  .closeBtn-coockies-callout:hover{
    color:  black;
  }
}

