/* fon-size:
h1: 60px
h2: 48px
h3: 36px
h4: 24px
h5: 21px
h6: 18px /
normal: 16px / 1rem
$almostNormalSize: 14px / 0.875rem
$smallSize: 12px / 0.75 rem
$verySmallSize: 9px / 0.56rem 
$tinySize: 7px
small:80% -> 12.8px / 0.8rem

 */ 
/*  
// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   vertical-align: baseline;
// }


// html {
//   min-height: 100%;
//   overflow: hidden;
// }

// body {
//   clear: both;
//   overflow: auto;
//   position:relative;
//   } */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}


html, body{
 height: 100%;
 margin:0;
 border:0;
 padding:0;
}

body {
  overflow: hidden !important;
}


html{
  overflow: hidden;
}

main {
  padding-top:1.8rem;
  padding-bottom:1.8rem;
  min-height: 75vh;
  @include breakpoint(small down){
    padding-top:1.6rem;
  }
}

a, a:active, a:visited, a:hover {
  color: #3885ff;
}

a:hover{
  color: rgba(56, 133, 255,0.8);
}

a.profileCard:hover{
    text-decoration: none;

} 

.whole-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    max-height: 100%;
    display: block;
    position: relative;
}

.very-fast {
  transition-duration: 150ms !important; }

.pac-container{
  z-index: 1100;
}

.warning{
  border:1px solid red !important;
}

.checkBox-warning{
  outline: 1px solid red;
}

.text-warning{
  color: red;
}


/*===============================================
GENERAL LAYOUT
================================================*/

/*VALID FOR LARGE SCREEN >1024px*/

/*----------------
Grid and Bar
-----------------*/

@media only screen and #{breakpoint(large)} {
  .pard-grid {
    width: $pard-grid-width;
    margin: 0 auto; 
    clear: both;
    *zoom: 1;
    }

  .pard-grid:after {
  clear: both;
  }
 
  .grid-spacing{
    width: $pard-grid-spacing;}

  .grid-section {
    width: $pard-section-width;
    min-height:75vh;
  }
  
}

@media only screen and #{breakpoint(medium)} {
  .grid-aside{
     width: $pard-aside-width;
  }

  .grid-spacing, .grid-section, .grid-aside{
    display: inline-block;
    vertical-align: top;
  }

  .displayNone-for-large {
      display: none;
  }

  .off-canvas-content{
    @include border-radius($layout-border-radius);
  }

  @include breakpoint(medium down){
    .grid-section{
      width: -moz-calc(100% - 12.5rem);
      width: -webkit-calc(100% - 12.5rem);
      width: calc(100% - 12.5rem);
      margin-left:0.5rem;
    }
  }


  .pard-bar {
    background: $content-background;
    width: 100%;
    z-index: 1;
    .left-bar-content{
      left:0;
      display: inline-block;
      position: absolute;
    }
    .right-bar-content{
      display: inline-block;
      position: absolute;
      margin-right: 0.4rem;
      right:0;
    }
  }

}

@include breakpoint(large){
  .left-bar-content{
    margin-left:-0.5rem;
  } 
}




/*ALL SCREEN*/

.grid-element-content{
  width: 100%;
  background: $grey-1;
  padding: $inner-spacing;
  padding-bottom:2rem;
  min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;

}

.user-grid-element-content{
  width: 100%;
  background: $grey-1;
  /* padding: $inner-spacing; */
  /* padding-bottom:2rem; */
  min-height: 100vh;
  @include border-radius($layout-border-radius);
  position:relative;

}




.section-content{ 
  width: 100%;
  background: $content-background;
  padding-left:$inner-spacing;
  padding-right:$inner-spacing;
  padding-top:$inner-spacing;
  padding-bottom:2rem;
  @include border-radius($layout-border-radius);
  position:relative;
}




.pard-header-container{
  position:relative;
  width: 100%;
   @include breakpoint(small down){
    position:fixed !important;
    padding-right:0.6rem;
    min-height: 5rem;
    background-color: $content-background;
    z-index: 2;
    top:0;
    left:0;
    padding-top:0.5rem;
    border-bottom:2px solid $grey-1;;
  }
}

.pard-container-relative{
  position:relative;
  width: 100%;
  }


/*FOR MEDIUM AND SMALL: TRANSITION WHEN SCREEN <= 1024px*/

/*--------------
off-canvas
-------------*/

.off-canvas-wrapper{
  overflow: hidden;
}

@media only screen and #{breakpoint(small down)} { 
  .off-canvas-content,
  .#{$maincontent-class}{
    box-shadow: 0 0 10px rgba($black, 0.5);
  } 
  .off-canvas-grid-aside {
  position: absolute;
  /* background: $content-background; */
  z-index: -1;
  max-height: 100%;
  overflow-y: auto;
  transform: translateX(0); }
  [data-whatinput='mouse'] .off-canvas-grid-aside {
    outline: 0; }
  .off-canvas-grid-aside.position-left-grid-aside {
    left: -$pard-aside-width;
    top: 0;
    width: $pard-aside-width; 
  }
    .is-open-left {
      transform: translateX($pard-aside-width); 
    }

  .displayNone-for-mediumDown{
    display:none;
  }
  .top-bar{
    min-height: 5rem;
  }
  .off-canvas-wrapper{
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
}


/*====================
BUTTONS
======================*/



.pard-btn{
  background: $element-background;
  color: $element-color;
  @include border-radius($element-border-radius);
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
}

.pard-btn:hover{
    background: rgba(0,0,0,0.8);
  }
button{
   outline: none;
}

.submit-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
}

.submit-btn-container{
  min-height: 2rem;
  margin-bottom: -0.8rem;
  width: 100%;  
}


.recoveryPasswd-popup-button{
  @extend .pard-btn;
  position: relative;
  float: right;
  font-size: $almostNormalSize;
  margin-top:-0.9rem;
  margin-left:1.5rem;
}

.signup-form-btn{
  @include horizontal-center;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  position:relative;
  margin-top: 1rem;
}


.create-artist-btn-popup, .create-space-btn-popup{
    border: 2px solid $grey-2;
    cursor: pointer;    
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    @include breakpoint(medium){
      display: inline-block; 
      margin-left: 4rem; 
      width: 12rem;
    };

}

.create-artist-btn-popup:hover, .create-space-btn-popup:hover{
      background-color: $grey-1;
    }

.create-profile-btn-text{
  margin-left:$inner-spacing;
  font-weight: bold;
}

.create-profile-btn-icon{
  font-size: 1.8rem;
  font-weight: bold;
  vertical-align: bottom;
}

.login-btn{
  @extend .pard-btn;
  padding: 0.3rem 0.65rem;
  font-weight: 600;
  font-size: $almostNormalSize;
  @include breakpoint(small down){
    margin-right: 2rem;
  }
}

.signupButton, .signupButton-Outsider{
  color: $element-color;
  font-weight: bold;
  width: 100%;
  height: 3rem;
  @include border-radius($element-border-radius);
  background: $blue-pard;
}

.signupButton-eventLogin{
  color: $element-color;
  font-weight: bold;
  @include border-radius($element-border-radius);
  background: $blue-pard;
  margin-left: 1rem;
  vertical-align: 0.1rem;
  padding: 0.4rem 0.8rem;
}

.signUpButtonForSmall{
  color: $element-color;
  font-weight: bold;
  background: $blue-pard;
  @include border-radius($element-border-radius);
  position: absolute;
  right: $inner-spacing;
  top: $inner-spacing;
  font-size: $almostNormalSize;
  padding: 0.25rem 0.5rem;
  @include breakpoint(medium){
    display: none;
  }

}

#register-outsider-header-button{
  color: $element-color;
  font-weight: bold;
  padding: 0.3rem 0.65rem;
  @include border-radius($element-border-radius);
  background: $blue-pard;
  font-size: $almostNormalSize;
  position:absolute;
  top: 0.2rem;
  right: -5rem;
}

.signupButton-container-Outsider{
  width: $pard-aside-width;
  z-index: 20;
  margin-bottom: -4.8rem;
  padding-bottom:$pard-grid-spacing;

}

.outer-signupButton-container-Outsider{
  z-index: 20;
  margin-bottom: 4.8rem;
}

.signupButton:hover, .signupButton-alert:hover, .signupButton-Outsider:hover, .signupButton-eventLogin:hover {
    background: rgba(56, 133, 255,0.8);
}

.signupButton-alert{
  color: $element-color;
  font-weight: 600;
  width:13rem;
  padding-top:1rem;
  padding-bottom:1rem;
  @include border-radius($element-border-radius);
  font-size: $almostNormalSize;
  background: $blue-pard;
  position: relative;
  margin: auto;
  display: block;
}

.signupButton-alert-container{
  width: 100%;
  display: block;
}

.signUp-button-welcome-section, .manage-call-btn{
  @extend .pard-btn;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.toUserPage-btn{
  height:3rem;
  width: 100%;
  font-weight: bold;
  font-size: $almostNormalSize;
}

.modify-section-content-button-container{
  position: absolute;
  top:0;
  right:0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 70px;
  border-right-width: 0px;
  border-top: 70px solid black;
  width:0;

}



.modify-content-button{
  position: absolute;
  top: -4px;
  right: -4px;
  width: 50px;
  height: 50px;
}

.add-multimedia-input-button, .add-multimedia-input-button-delete{
  position: relative;
  top: 0.4rem;
  left: 0.3rem;
  cursor: pointer;  
}

.add-multimedia-input-button{
  color: $grey-3;
}


.add-input-button-enlighted{
  color: black;
}

.links-accepted-caller{
  position: absolute;
  right: 2rem;
  font-size:$smallSize;
}

.manage-multimedia-btn{
  @include breakpoint(large){
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
  }
  font-size: $almostNormalSize;
  @include breakpoint(medium down){
    margin-top: $inner-spacing;
    margin-left: $inner-spacing;
  }
}

.send-post-data-btn{
  @extend .pard-btn;
  position: absolute;
  right:0;
  margin-top: -1rem;
  font-size: $smallSize;
}

.confirm-delete-btn, .cancel-delete-btn{
  font-size: $almostNormalSize;
  float: right;
  margin-right: 1rem;
}

.yes-no-button-container{
  width: 100%;
  min-height: 1.6rem;
  position:relative;
}

.browse-btn{
  @extend .pard-btn;
  padding:0.4rem 0.6rem;
  color: white;
  font-weight: bold;
  font-size: $smallSize; 
  display: inline-block;
  margin-bottom: 1rem;
}

.createOwnprofile-btn-icon{
  font-size: 1.5rem;
}

.plusSymbol-CreateOwnProfile{
  font-size: .9rem;
  margin-left: -.3rem;
}

.create-space-proposal-call-page-btn, .create-artist-proposal-call-page-btn{
  cursor: pointer;
  padding: 0;
  text-align: center;
  width: 3.2em;
  margin-left: 1.5rem;
  border: 1px solid $grey-2;
  display: inline-block;
  max-height: 1.7rem;
}

.create-space-proposal-call-page-btn:hover, .create-artist-proposal-call-page-btn:hover{
    background: $grey-1;
}

.iconButton-CallPage{
  @extend .pard-btn;
  padding: 0;
  height: 22px;
  width: 35px;
  color: white !important;
  text-align: center;
  .material-icons{
    font-size: 22px;
  }
}

.dowloadQR-btn{
  vertical-align: top;
  margin-left: 1rem;
}

.success-inscription-btn{
  display: inline-block;
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}

.show-hide-btn-call-manager{
  position: absolute;
  right: -3px;
  bottom: -1rem;
  span{
    font-size: 1.4rem;
  }  
}

.show-hide-btn-call-manager:hover{
  color: rgba(0,0,0,0.8);
}

.submit-program-btn-call-manager{
  vertical-align: middle;
  height: 22px;
  width: 35px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0;
  .material-icons{
    font-size: 22px;
  }
  
}

.interaction-btn-event-page{
  width: 30%;
  display: inline-block;
  border: 2px solid #fff;
  background: black;
  height: 2rem;
  color: white;
  font-weight: bold;
}

.disabled-button{
  background-color: $grey-3 !important;
}

.buttons-noMapPopup button{
  margin-right: 2rem;
  font-size: 14px;
  margin-top: 0.5rem;
  @include breakpoint(medium){
    float: right;
  }
}

.buttons-noMapPopup{
  @include breakpoint(medium){
    height: 2rem;
  }
}

.goUpBtn-program-event-page{
  bottom: 2rem;
  font-size: 1.5rem;
  position: absolute;
  right: 15%;
  z-index: 999;
  color: rgba(0,0,0,0.5);
}

.OK-btn-reorderSpace-popup{
  font-size: $almostNormalSize;
  position: absolute;
  right: 0;
}

a.toEventPageBtn-profile-page{
  @extend .pard-btn;
  color: white;
  font-size: $smallSize;
  padding: 0.2rem 0.8rem;
  float: right;
  @include breakpoint(large){
    font-size: $almostNormalSize;
    padding: 0.2rem 1rem;
  }
  @include breakpoint(small down){
    margin-bottom: 1rem;
  }
}

a.toEventPageBtn-event-info-card{
  @extend .pard-btn;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 1.2rem;
}

.production-nav-element-container.production-btn-event-page{
  padding: 0.2rem 0.2rem;
  position: relative;
  width: 11.5rem;
  display: inline-block;
  height: 2.7rem;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  margin-right: 0.8rem;
  border: 1px solid $grey-2;
}

.production-nav-element-container.production-btn-event-page:hover{
  background: $grey-1;
  font-weight: bold;
  cursor: pointer;
}

.xbtn-production-event-page{
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: $almostNormalSize;
}

a.toEventPage-btn-callPage{
  display: inline-block;
  font-size: $almostNormalSize;
  margin-right: 2.5rem;
  text-decoration: underline;
}

a.navigation-btn-callPage{
  text-decoration: underline;
  font-size: $almostNormalSize;
}

.cancelBtn-modifyProposalForm{
  position: absolute;
  bottom: 1.5rem;
  right: 7.5rem;
  padding: 0.4rem 1.2rem;
  font-size: 0.875rem;
}


.chain-unchain-button{
  @extend .pard-btn;
  height: 22px;
  width: 35px;
  text-align: center;
  padding: 0;
  /* color: $blue-pard; */
  font-size: 1.1rem;
}



/*===============================================
COMPONENTS
================================================*/


/*-----------------
Profile Card
-------------------*/

.profileCard{
  box-shadow: 0px 1px 2px 1px rgba(10, 10, 10, 0.2);
  display: block;
  line-height: 0;
  transition: box-shadow 200ms ease-out;
  color: black;
  outline:none;
  background: white;
  @include border-radius($element-border-radius);
  position:relative;
  margin:0 auto;
  
  @include breakpoint(medium){
    width: 11rem;
    height: 14.25rem;
    padding: 3px;
  }
  
  @include breakpoint(small down) {
    width: 31vw;
    height: 39vw;
    padding: 1px;
    .circleProfile {
      height:6vw;
      width: 6vw;
    }
    .position-circleProfile-card{
      margin-top: -3.5vw;   
    }
    .photo-container-card{
      height: 10vw;
      width: 27.3vw;
    }
    .name-profileCard{
      margin-top: 5.3vw;
      font-size: 2.7vw;
      line-height:3.2vw;
      height: 10vw;
    }
    .locality-profileCard{
      margin-top: 2.3vw;
      font-size: 2.2vw;
      padding-bottom: 2.7vw;
    }
    .category-profileCard{
      font-size: 2.2vw;
      margin-top: 3.5vw; 
    }
  }
}

.profileCard:hover, .profileCard:focus {
    cursor:pointer; 
} 

.profileCard{
  border: 3px solid;
}

.position-profileCard-login{
  position:relative;
  margin-top:0.9rem;
  margin-bottom: 1rem; 
  @include breakpoint(small down) {
  position:relative;
  }
}

.card-container{
  display: inline-block;
  padding: 0 1.046rem;
  @include breakpoint(410 down) {
    display: block;
    @include horizontal-center;
    position:relative;
  }
}

.card-container-popup{
  display: inline-block;
  padding: 0 0.6rem;
  @include breakpoint(410 down) {
    @include horizontal-center;
    display: block;
    position:relative;
  }
}

.photo-container-card{
  display: block;
  width: 10.25rem;
  height: 3.75rem;
  margin:0 auto;
  background:red;
}

.circleProfile{
  @include pardCircle(2.2rem);
}

.position-circleProfile-card {
  margin-top:-1.15rem;
  @include horizontal-center;

}

.icon-profileCircle .material-icons{
  @include absolute-center;
  font-size: 1.7rem;
}

.name-profileCard{
  @include breakpoint(medium){
    padding-left: 1px;
    padding-right:1px;
  }
  color: black;
  margin-top: 2.1rem;
  text-align:center;
  width:100%;
  line-height: 1.3rem;
  height: 2.5rem;
  display: block;
}

.locality-profileCard{
  width:100%;
  display:block;
  text-align:center;
  color:$text-color;
  margin-top:1.6rem;
  border-bottom: 1px solid $text-color;
  padding-bottom: 1rem;
  font-size: $almostNormalSize;
}


.category-profileCard{
  width: 100%;
  color: $text-color;
  font-size: $smallSize;
  text-align: center; 
  display:block;
  margin-top:1.4rem;
}



/*-----------------
Dropdown
-------------------*/

.is-dropdown-submenu-item:hover{
  background: $grey-1;
}

.is-dropdown-submenu-item{
  font-size:$almostNormalSize;
}


.is-dropdown-submenu-item a, .is-dropdown-submenu-item a:hover{
  color: black;
  text-decoration: none;
}



/*==============================================
FOOTER
===============================================*/

.footer-bar{
  width: 100%;
  @extend .pard-bar;
  position:relative;
  background: black;
  color: $grey-2;
  padding-bottom:0rem;
  bottom:0;
  font-size: $smallSize;
  @include breakpoint(medium) {  
    height:2rem;
  }
  @include breakpoint(small){
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  padding-left:0.75rem;

  }
  box-shadow: 0 0 2px black;
}

.footer-right{
  @include breakpoint(medium){
    padding-right:0.6rem;
  }
}

.footer-left{
  @include breakpoint(medium){
    padding-left:0.7rem;
  }
}

a.footer-text-link {
  margin-right:2rem;
  display: inline-block;
  color: white;
}


a.footer-text-link:hover{
  color: white;
  text-decoration: underline;
}

@media only screen and #{breakpoint(medium)} {

.footer-outsider{
  position:fixed;
  .footer-left{
    padding-left:0.1rem;
  }
  .footer-right{
    padding-right:0.1rem;
  }
}

}


.valencian-flag, .italian-flag, .english-flag{
  width: 1.5rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  margin-right: 1rem;
}

.valencian-flag{
  background-image: url(<%= image_path 'valencian_flag.png' %>);
}

.italian-flag{
  background-image: url(<%= image_path 'italian_flag.jpeg' %>);
}

.english-flag{
  background-image: url(<%= image_path 'english_flag.png' %>);
}

.title-project-info{
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.part2-message-project-info ul{
  margin-top: -0.5rem; 
}

.subtitle-project-info{
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.conditions-lastModify {
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.conditions-par{
  margin-bottom: 1.5rem;
}

.orfheo-web-popup{
  text-align: center;  
  margin-bottom: 4rem;
}

.orfheo-baseline-popup{
  text-align: center;  
  margin-bottom: 4rem;
  margin-top: -1rem;
}





/*==============================================
FORMS
===============================================*/


select, textarea, a{
    @include border-radius($element-border-radius);
    outline: none !important;
}

select:-moz-focusring { color: transparent;
                        text-shadow: 0 0 0 #000; }

.popup-form button {
  outline: none;
}

.popup-form input, .popup-form textarea, .popup-form select{
    @include border-radius($element-border-radius);
    height: auto;
    font-size: $almostNormalSize;
    margin:  0 0 0rem;
}

.help-text{
  line-height: 0.9rem;
  margin: 0rem;
  margin-top: 0.3rem;
}


.description-input, .needs-input, .sharing-input{
  line-height: 1.2rem;
}

.short_description-input{
  line-height: 1.2rem;
  min-height: 0 !important;
  height: 2.2rem !important;
  overflow-y: hidden;
}


.error-text, .not-filled-text{
  color: red;
  font-size: $almostNormalSize;
  min-height: 1.5rem;
}

.error-multimedia-text{
  color: red;
  font-size: $almostNormalSize;
  margin-bottom: 0;
}

.not-filled-text{
  margin-bottom: -0.5rem;
}

.photo-form{
  margin-bottom: 1rem;
  margin-left:1rem;
}

.message-form{
  margin-bottom: 1.5rem;
}

.init-message-form{
  margin-bottom: 2rem;
}

/*LARGE*/

.geocod-container-adrees-imput{
  display: inline-block;
  width: 13rem;
  margin-left: 2rem;
  vertical-align: top;
}

.map-inputAddressWidgets{
  width: 100%;
  height: 13rem;
  margin-bottom: 1rem;  
  @include breakpoint(large){
    width: 21rem;
    display: inline-block;
  }
}

.call-form-field{
  margin: 2rem 0;
}

@media only screen and #{breakpoint(large)} {

  .locality-ArtistForm{
    width: 17rem;
    display: inline-block;
    margin-right: 3rem;   
  }

  .postal_code-ArtistForm{
    width: 13rem;
    display: inline-block;  
  }

  .popup-form .route-addressForm, .popup-form .street_number-addressForm,.popup-form .door-addressForm, .multiMedia {
    font-size: $smallSize;
    margin-bottom: 0.5rem;
    display: inline-block; 
  }

  .popup-form .postal_code-addressForm {
    font-size: $smallSize;
    display: inline-block; 
  }

  .popup-form .route-addressForm{
    width: 17rem;
  }

  .popup-form .street_number-addressForm, .popup-form .door-addressForm{
    width: 5rem;
    margin-left:1rem;
  }

  .popup-form .locality-addressForm{
    width: 13rem;
    font-size: $smallSize;
    display: inline-block; 
  }

  .popup-form .country-addressForm{
    width: 13rem;
    margin-left:1rem;
    display: inline-block;
    font-size: $smallSize;
  }

  .popup-form .postal_code-addressForm{
    width: 8rem;
    margin-left:1rem;
  }

  .modifyProfilePopup .name-FormDiv{
    @include breakpoint (large){
      width: 17rem;
      display: inline-block;
      vertical-align: top;
      margin-top:1rem;
      margin-bottom: 0;
    }
  }

  .createProfilePopup-artist .name-FormDiv, .createProfilePopup-organization .name-FormDiv{
    @include breakpoint (large){
      width: 17rem;
      display: inline-block;
      vertical-align: top;
      margin-top:2rem;
      margin-bottom: 0;
    }
  }

  .modifyProfilePopup .photoContainer{
    @include breakpoint (large){
      display: inline-block;
      margin-left: 2rem;
      margin-left: 6rem;
      margin-top: 1rem;
    }
  }

  .createProfilePopup-artist .photoContainer, .createProfilePopup-organization .photoContainer{
    @include breakpoint (large){
      display: inline-block;
      margin-left: 2rem;
      margin-left: 6rem;
      margin-top: 2rem;
    }
  }

  .m-artistCall{
    font-size: 14px;
    float: right;
    padding: 0 1rem;
    color: $grey-4;
  }

  .message-call{
    height: 1rem;
    position: relative;
    margin: 1rem 0 0 0;
  }

}

.profilePhoto-modifyProfile{
  @include breakpoint (medium down){
   margin-bottom:1rem;
  }
}

.MultipleSelector-FormField select, .MultipleDaysSelector-FormField select{
  width: 100% !important;
  outline: none !important;
}

.MultipleSelector-FormField .ms-choice, .MultipleDaysSelector-FormField .ms-choice{
    @include border-radius($element-border-radius);
    font-size: $almostNormalSize;
    width: 100%;
    height: 34px;
    span{
      padding: 4px 8px;
    }
    div{
      top:  4px;
    }
}

.MultipleSelector-FormField .ms-parent, .MultipleDaysSelector-FormField .ms-parent{
    width: 100% !important;
}

.deleteProfile-caller{
  font-size: $smallSize;
}


/*==============================================
POPUP
===============================================*/

 
.popup-header{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.popup-content{
  margin-bottom: 2rem; 
}

.full{
  background: rgba(0,0,0,0.6);
  overflow-x:hidden;
}

.popup-container-full,.alert-container-full{
  position: relative;
  margin: 0 auto;
  clear: both;
  background: $content-background;
  display: block;
  padding: 1rem 1.5rem 0.01rem 1.5rem;
  @include border-radius($layout-border-radius);
}

.popup-container-full{
    max-width: 40rem; //640px
    margin-bottom: 0.6rem;
    @include breakpoint(small down){
      margin-right: 2rem;
      margin-bottom: 50vh;
    }
}

.alert-container-full{
    max-width: 22rem; //352px
    margin-bottom: 0.6rem;
}


.top-position .popup-container-full, .top-position .alert-container-full{
  margin-bottom: 50%;
}

@media only screen and (max-width : 400px) {
  .alert-container-full{
    margin-right: 2rem;
  }
  .signupButton-alert{
    width:10rem;
  }
}

.popup-photo-container{
  display: block;
  position: relative;
  margin: 0 auto;
  clear: both;
  max-width: 750px;
  @include breakpoint(750px down){
    margin-right: 2rem;
  }
}

.vcenter-outer{
  display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}

.vcenter-inner{
  display: table-cell;
  vertical-align: middle;
}

.space-program-popup-call-manager{
  width: 1024px;
  background: white;
  @include horizontal-center;
  padding: 1.5rem;
  padding-bottom: 0rem;
  @include border-radius($layout-border-radius);
  top:2rem;
}

.popup-container-full .event-form-popup{
  min-height: 100vh;
  background-color: transparent;
}

.multimedia-popup-bigalert{
  width: 90vw;
  max-width: 48rem;
  padding: 0.5rem;
  .video-production-container{
    text-align: center;
  }
  .single-video-container iframe{
    width: 640px !important;
    height: 360px !important;
    @include breakpoint (medium down){
      width: 100% !important;
      height: auto !important;
    }
  }
}


/*==============================================
ICONS
===============================================*/

.icon-book-open, .icon-theatre{
  font-size: 1.3rem;  
}

.reorderIcon{
  .sortIcon{
    font-size: .8rem;
    vertical-align: middle;
    margin-left: 0.1rem;
  }
  .timeIcon{
    font-size: 1.2rem;
    vertical-align: middle;
  }
}

/*==============================================
SEARCH // SELECT2
===============================================*/

.select2-results__message {
  display: none !important;
}

.select2-container {
  max-width: 100%;
  min-width:100%;
  }

.select2-container .select2-selection--multiple{
  border-radius: $element-border-radius;
}

.select2-selection.select2-selection--multiple{
  font-size: 1rem;
  min-height: 2.6rem; 
}


.select2-search.select2-search--inline input{
  height: auto;
  margin:0;
}

.select2-selection__rendered li{
  padding-top: 5px;
}

.search-input{
  @include breakpoint(large){ 
    width: 100%;
    padding-left:3.8rem;
    padding-right: 3.8rem;
  }
}

input.select2-search__field{
  width: 100% !important;
}

span.select2-container--default .select2-selection--single{
  height: 2.1rem;
  @include border-radius($element-border-radius);
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 2rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 2.1rem;
}


/*===============================================
COLOR PICKER
================================================*/

.sp-dd{
  display: none;
}

.sp-preview{
  width: 100%;
  height: 1.5rem;
}

.sp-replacer{
  width: 100%;
  margin-bottom: 1rem;
}



/*===============================================
IMAGES
================================================*/

.orfheo-symbol-popup{
  background-image: url(<%= image_path 'orfheosimbolocolor.png' %>);
  width: 100px;
  height: 69px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include horizontal-center;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 2rem;

}


.orfheo-symbol-image-searchEngine{
  background-image: url(<%= image_path 'orfheosimbolonegro.png' %>);
  width: 90px;
  height: 61px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include horizontal-center;
  position: relative;
  margin-bottom: 1.5rem;
  /* margin-top: -2rem; */
}

.welcome-img-section-header {
  background-image: url(<%= image_path 'logo_conFusion.png' %>);
  width: 100%;
  @include breakpoint(large){ height: 13.75rem; }
  @include breakpoint(medium down){ height: 22vw;}
  @include breakpoint(small down){ height: 30vw;}
  background-repeat: no-repeat;
  background-size: 95% 95%;

}

.logo-header{
  cursor: pointer;
  background-image: url(<%= image_path 'orfheologocolor.png' %>);
  width: 110px;
  height: 37px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @include breakpoint(small down){ 
    width: 66px;
    height: 22px;
    margin-top:0.3rem;
    margin-bottom:0.7rem;
  }
}

.orfheo-logo-card{
  background-image: url(<%= image_path 'orfheologocolor.png' %>);
  width: 120px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 5rem;
  @include horizontal-center;
  @include breakpoint (small down){
    width: 90px;
    height: 30px;
    margin-top: 3rem;
  }
}

table.dataTable thead .sorting_asc {
    background-image: url(<%= image_path 'sort_asc.png' %>);
}
table.dataTable thead .sorting_desc {
    background-image: url(<%= image_path 'sort_desc.png' %>);
}
table.dataTable thead .sorting {
    background-image: url(<%= image_path 'sort_both.png' %>);
}

.cursor_grab{
  cursor: -webkit-grab !important;; 
  cursor:-moz-grab !important;;
  cursor: grab !important;
}

.cursor_move{
  cursor: move !important;
}

.position-fixed{
  position: fixed !important;
}

/*====================================== 
TOOLTIP 
========================================*/

.orfheo-tooltip{
  @include border-radius($element-border-radius);
  background: black;
  color:  white;
  border: none;
  box-shadow: none;
  font-size: $smallSize;
  padding: 0.2rem 0.5rem;
  margin-top: 0;
  position: fixed;
  z-index: 9999;
}



